In [1]:
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:

def extraer_datos(urlPart, cantidaddeano, anoInicio):
    cont = 0
    dict_anyo_smi = dict()
    datos = []

    while cont < cantidaddeano:
        url = f"{urlPart}{anoInicio}"
        response = requests.get(url)
        soup = BeautifulSoup(response.text, "html.parser")
        
        for s in soup.find_all("tr")[1:]:
            datos.append([x.text for x in s.find_all("td")])
        anoInicio -= 1
        cont += 1
    
    return datos

In [3]:
datos=extraer_datos('https://datosmacro.expansion.com/smi?anio=',20,2023)

In [4]:
def crear_DataFrame(datos_extraidos, columnas):
    df = pd.DataFrame(datos_extraidos, columns=columnas)
    return df


#Llamamos a la funciòn "crear_DataFrame" para crear un DataFrame con los datos extraidos de la web

columnas = ["Pais", "Año", "SMI Local", "Divisa", "Dolares($)", "SMI(€)", "Vacia", "Var SMI(%)"]

df_paises = crear_DataFrame(datos,columnas)

    
#Eliminaciòn de la columna "Vacia", ya que no contine datos.
df_paises = df_paises.drop("Vacia", axis = 1)

df_paises

                 Pais   Año  SMI Local Divisa Dolares($)     SMI(€) Var SMI(%)
0          España [+]  2023    1.260,0      €  1.343,9 $  1.260,0 €      8,00%
1        Alemania [+]  2023    1.987,0      €  2.119,3 $  1.987,0 €     14,86%
2     Reino Unido [+]  2022    1.621,1      £  1.952,7 $  1.929,2 €     12,91%
3         Francia [+]  2023    1.709,3      €  1.823,1 $  1.709,3 €      3,87%
4        Portugal [+]  2023      886,7      €    945,7 $    886,7 €      7,80%
...               ...   ...        ...    ...        ...        ...        ...
3028   Uzbekistán [+]  2004    6.530,0      л      6,7 $      5,4 €
3029    Venezuela [+]  2004      321,0     Bs
3030     Viet Nam [+]  2004  290.000,0      ₫     18,4 $
3031    Sudáfrica [+]  2004    1.310,0      R    202,8 $    157,3 €     17,71%
3032       Zambia [+]  2004       76,8

[3033 rows x 7 columns]

In [5]:
#Limpieza de la columa pais.
df_paises['Pais'] = [x.replace('[+]','').replace(' ','') for x in df_paises['Pais']]

#No hace falta convertir los valores del SMI Local ya que estàn en distintas divisas
#Para operaciones usaremos las columnas Dolares y SMI

df_paises

            Pais   Año  SMI Local Divisa Dolares($)     SMI(€) Var SMI(%)
0         España  2023    1.260,0      €  1.343,9 $  1.260,0 €      8,00%
1       Alemania  2023    1.987,0      €  2.119,3 $  1.987,0 €     14,86%
2     ReinoUnido  2022    1.621,1      £  1.952,7 $  1.929,2 €     12,91%
3        Francia  2023    1.709,3      €  1.823,1 $  1.709,3 €      3,87%
4       Portugal  2023      886,7      €    945,7 $    886,7 €      7,80%
...          ...   ...        ...    ...        ...        ...        ...
3028  Uzbekistán  2004    6.530,0      л      6,7 $      5,4 €
3029   Venezuela  2004      321,0     Bs
3030     VietNam  2004  290.000,0      ₫     18,4 $
3031   Sudáfrica  2004    1.310,0      R    202,8 $    157,3 €     17,71%
3032      Zambia  2004       76,8

[3033 rows x 7 columns]

In [6]:
#Limpieza y conversion (a float) de la columna Dolares($)

df_paises ["Dolares($)"] = [x.replace('.','').replace(',','.').replace('\xa0$','') if type(x)!=float else x for x in df_paises ["Dolares($)"]]

#Detectamos que en esta columna aparece aparecen elemento con '€'. Procedemos con la limpieza correspondiente.      
df_paises ["Dolares($)"] = [x.replace('€','') if type(x)!=float  else x for x in df_paises ["Dolares($)"]] 

df_paises ["Dolares($)"] = [np.nan if (x==None or x=='') else x for x in df_paises ['Dolares($)']]

#Finalmente pasamos a float el resto de valores de la tabla
df_paises ["Dolares($)"] = [float(x) if type(x)!=float else x for x in df_paises ["Dolares($)"]] 

df_paises

            Pais   Año  SMI Local Divisa  Dolares($)     SMI(€) Var SMI(%)
0         España  2023    1.260,0      €      1343.9  1.260,0 €      8,00%
1       Alemania  2023    1.987,0      €      2119.3  1.987,0 €     14,86%
2     ReinoUnido  2022    1.621,1      £      1952.7  1.929,2 €     12,91%
3        Francia  2023    1.709,3      €      1823.1  1.709,3 €      3,87%
4       Portugal  2023      886,7      €       945.7    886,7 €      7,80%
...          ...   ...        ...    ...         ...        ...        ...
3028  Uzbekistán  2004    6.530,0      л         6.7      5,4 €
3029   Venezuela  2004      321,0     Bs         NaN
3030     VietNam  2004  290.000,0      ₫        18.4
3031   Sudáfrica  2004    1.310,0      R       202.8    157,3 €     17,71%
3032      Zambia  2004       76,8                NaN

[3033 rows x 7 columns]

In [7]:
#Limpieza y conversion (a float) de la columna SMI(€)

#Pasamos a Nan los None y las cadenas vacias
df_paises ["SMI(€)"] = [np.nan if (x==None or x=='') else x for x in df_paises ["SMI(€)"]]
     
#Limpiamos los elementos de la columna, para poder luego convertirlos a Float
df_paises ["SMI(€)"] = [x.replace('\xa0','').replace('.','').replace(',','.').replace('€','') if type(x)!=float  else x for x in df_paises ["SMI(€)"]] 
    
#Finalmente pasamos a float el resto de valores de la tabla
df_paises ["SMI(€)"] = [float(x) if type(x)!=float else x for x in df_paises ["SMI(€)"]] 
#Pasamos a Nan los None y las cadenas vacias
df_paises ["SMI Local"] = [np.nan if (x==None or x=='') else x for x in df_paises ["SMI Local"]]
     
#Limpiamos los elementos de la columna, para poder luego convertirlos a Float
df_paises ["SMI Local"] = [x.replace('\xa0','').replace('.','').replace(',','.').replace('€','') if type(x)!=float  else x for x in df_paises ["SMI Local"]] 
    
#Finalmente pasamos a float el resto de valores de la tabla
df_paises ["SMI Local"] = [float(x) if type(x)!=float else x for x in df_paises ["SMI Local"]] 

#Pasamos los años a int
df_paises ["Año"] = [int(x) if type(x)!=int else x for x in df_paises ["Año"]] 
df_paises

            Pais   Año  SMI Local Divisa  Dolares($)  SMI(€) Var SMI(%)
0         España  2023     1260.0      €      1343.9  1260.0      8,00%
1       Alemania  2023     1987.0      €      2119.3  1987.0     14,86%
2     ReinoUnido  2022     1621.1      £      1952.7  1929.2     12,91%
3        Francia  2023     1709.3      €      1823.1  1709.3      3,87%
4       Portugal  2023      886.7      €       945.7   886.7      7,80%
...          ...   ...        ...    ...         ...     ...        ...
3028  Uzbekistán  2004     6530.0      л         6.7     5.4
3029   Venezuela  2004      321.0     Bs         NaN     NaN
3030     VietNam  2004   290000.0      ₫        18.4     NaN
3031   Sudáfrica  2004     1310.0      R       202.8   157.3     17,71%
3032      Zambia  2004       76.8                NaN     NaN

[3033 rows x 7 columns]

In [8]:
#Limpieza y conversion (a float) de la columna Var SMI(%)

#Pasamos a Nan los None y las cadenas vacias
df_paises ["Var SMI(%)"] = [np.nan if (x==None or x=='') else x for x in df_paises ["Var SMI(%)"]]

#Limpiamos los elementos de la columna, para poder luego convertirlos a Float
df_paises ["Var SMI(%)"] = [x.replace('%','').replace(',','.').replace('.','') if type(x)!=float else x for x in df_paises ["Var SMI(%)"]]

     
#Finalmente pasamos a float el resto de valores de la tabla
df_paises ["Var SMI(%)"] = [float(x)/100 if type(x)!=float else x for x in df_paises ["Var SMI(%)"]] 


df_paises

            Pais   Año  SMI Local Divisa  Dolares($)  SMI(€)  Var SMI(%)
0         España  2023     1260.0      €      1343.9  1260.0        8.00
1       Alemania  2023     1987.0      €      2119.3  1987.0       14.86
2     ReinoUnido  2022     1621.1      £      1952.7  1929.2       12.91
3        Francia  2023     1709.3      €      1823.1  1709.3        3.87
4       Portugal  2023      886.7      €       945.7   886.7        7.80
...          ...   ...        ...    ...         ...     ...         ...
3028  Uzbekistán  2004     6530.0      л         6.7     5.4         NaN
3029   Venezuela  2004      321.0     Bs         NaN     NaN         NaN
3030     VietNam  2004   290000.0      ₫        18.4     NaN         NaN
3031   Sudáfrica  2004     1310.0      R       202.8   157.3       17.71
3032      Zambia  2004       76.8                NaN     NaN         NaN

[3033 rows x 7 columns]

In [9]:

df_paises[df_paises["Pais"]=="Alemania"]

          Pais   Año  SMI Local Divisa  Dolares($)  SMI(€)  Var SMI(%)
1     Alemania  2023     1987.0      €      2119.3  1987.0       14.86
172   Alemania  2022     1730.0      €      1853.4  1730.0        6.40
343   Alemania  2021     1602.0      €      1954.6  1602.0        1.07
514   Alemania  2020     1544.0      €      1763.6  1544.0       -1.09
685   Alemania  2019     1561.0      €      1747.5  1561.0        3.65
854   Alemania  2018     1506.0      €      1778.5  1506.0        0.00
1023  Alemania  2017     1506.0      €      1701.3  1506.0        4.29
1192  Alemania  2016     1444.0      €      1598.4  1444.0        0.00
1360  Alemania  2015     1444.0      €      1602.1  1444.0         NaN

In [10]:
df_paises.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3033 entries, 0 to 3032
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Pais        3033 non-null   object
 1   Año         3033 non-null   int64
 2   SMI Local   3024 non-null   float64
 3   Divisa      3033 non-null   object
 4   Dolares($)  2959 non-null   float64
 5   SMI(€)      2058 non-null   float64
 6   Var SMI(%)  1959 non-null   float64
dtypes: float64(4), int64(1), object(2)
memory usage: 166.0+ KB

In [11]:
paises_dic = {'Europa': ['Albania', 'Alemania', 'Andorra', 'Armenia', 'Azerbaiyán', 'Bielorrusia', 'BosniayHerzegovina', 'Bulgaria', 'Bélgica', 'Chequia', 'Chipre', 'Croacia', 'Eslovaquia', 'Eslovenia', 'España', 'Estonia', 'Francia', 'Georgia', 'Grecia', 'Hungría', 'Irlanda', 'Islandia', 'Israel', 'Kazajistán', 'Letonia', 'Lituania', 'Luxemburgo', 'MacedoniadelNorte', 'Malta', 'Moldavia', 'Montenegro', 'PaísesBajos', 'Polonia', 'Portugal', 'ReinoUnido', 'Rumanía', 'Rusia', 'SanMarino', 'Serbia', 'Suiza', 'Ucrania', 'Uzbekistán'],
               'Asia': ['Afganistán', 'ArabiaSaudita', 'Bangladés', 'Baréin', 'Bután', 'Camboya', 'Catar', 'China', 'CoreadelSur', 'EstadodePalestina', 'Filipinas', 'HongKong', 'India', 'Indonesia', 'Irak', 'Irán', 'Japón', 'Jordania', 'Kirguistán', 'Kuwait', 'Laos', 'Líbano', 'Malasia', 'Maldivas', 'Mongolia', 'Myanmar', 'Nepal', 'Omán', 'Pakistán', 'Palaos', 'Samoa', 'Siria', 'SriLanka', 'Surinam', 'Tailandia', 'Taiwan', 'Tayikistán', 'TimorOriental', 'Turkmenistán', 'Türkiye', 'VietNam'],
               'Norteamerica': ['AntiguayBarbuda', 'Bahamas', 'Barbados', 'Belice', 'Canadá', 'Cuba', 'Dominica', 'EstadosUnidos', 'Granada', 'Haití', 'Jamaica', 'México', 'RepúblicaDominicana', 'SanCristóbalyNieves', 'SanVicenteylasGranadinas', 'TrinidadyTobago'],
               'America_Central': ['CostaRica', 'ElSalvador', 'Guatemala', 'Honduras', 'Nicaragua', 'Panamá'],
               'Sudamerica': ['Argentina', 'Bolivia', 'Brasil', 'Chile', 'Colombia', 'Ecuador', 'Guyana', 'Paraguay', 'Perú', 'Uruguay', 'Venezuela'], 
               'Africa': ['Angola', 'Argelia', 'Benin', 'Botsuana', 'BurkinaFaso', 'Burundi', 'CaboVerde', 'Camerún', 'Chad', 'Comoras', 'CostadeMarfil', 'Egipto', 'Eswatini', 'Etiopía', 'Gabón', 'Gambia', 'Ghana', 'Guinea', 'Guinea-Bisáu', 'GuineaEcuatorial', 'Kenia', 'Lesoto', 'Liberia', 'Libia', 'Madagascar', 'Malaui', 'Malí', 'Marruecos', 'Mauricio', 'Mauritania', 'Mozambique', 'Nigeria', 'Níger', 'RepúblicaCentroafricana', 'RepúblicaDemocráticadelCongo', 'RepúblicadelCongo', 'Ruanda', 'Senegal', 'Seychelles', 'SierraLeona', 'Sudáfrica', 'Sudán', 'Tanzania', 'Togo', 'Túnez', 'Uganda', 'Zambia'],
               'Oceania': ['Australia', 'Fiyi', 'IslasMarshall', 'IslasSalomón', 'Kiribati', 'NuevaZelanda', 'PapúaNuevaGuinea', 'Vanuatu']
              }

In [12]:
Europa = paises_dic['Europa']
Asia = paises_dic['Asia']
Norteamerica = paises_dic['Norteamerica']
America_Central = paises_dic['America_Central']
Sudamerica = paises_dic['Sudamerica']
Africa = paises_dic['Africa']
Oceania = paises_dic['Oceania']

In [13]:
lista_paises = ['España', 'Alemania', 'ReinoUnido', 'Francia', 'Portugal', 'EstadosUnidos', 'Japón', 'China', 'Andorra', 'Afganistán', 'AntiguayBarbuda', 'Albania', 'Armenia', 'Angola', 'Argentina', 'Australia', 'Azerbaiyán', 'BosniayHerzegovina', 'Barbados', 'Bangladés', 'Bélgica', 'BurkinaFaso', 'Bulgaria', 'Baréin', 'Burundi', 'Benin', 'Bolivia', 'Brasil', 'Bahamas', 'Bután', 'Botsuana', 'Bielorrusia', 'Belice', 'Canadá', 'RepúblicaDemocráticadelCongo', 'RepúblicaCentroafricana', 'RepúblicadelCongo', 'Suiza', 'CostadeMarfil', 'Chile', 'Camerún', 'Colombia', 'CostaRica', 'Cuba', 'CaboVerde', 'Chipre', 'Chequia', 'Dominica', 'RepúblicaDominicana', 'Argelia', 'Ecuador', 'Estonia', 'Egipto', 'Etiopía', 'Fiyi', 'Gabón', 'Granada', 'Georgia', 'Ghana', 'Gambia', 'Guinea', 'GuineaEcuatorial', 'Grecia', 'Guatemala', 'Guinea-Bisáu', 'Guyana', 'HongKong', 'Honduras', 'Croacia', 'Haití', 'Hungría', 'Indonesia', 'Irlanda', 'Israel', 'India', 'Irak', 'Irán', 'Islandia', 'Jamaica', 'Jordania', 'Kenia', 'Kirguistán', 'Camboya', 'Kiribati', 'Comoras', 'SanCristóbalyNieves', 'CoreadelSur', 'Kuwait', 'Kazajistán', 'Laos', 'Líbano', 'SriLanka', 'Liberia', 'Lesoto', 'Lituania', 'Luxemburgo', 'Letonia', 'Libia', 'Marruecos', 'Moldavia', 'Montenegro', 'Madagascar', 'IslasMarshall', 'MacedoniadelNorte', 'Malí', 'Myanmar', 'Mongolia', 'Mauritania', 'Malta', 'Mauricio', 'Maldivas', 'Malaui', 'México', 'Malasia', 'Mozambique', 'Níger', 'Nigeria', 'Nicaragua', 'PaísesBajos', 'Nepal', 'NuevaZelanda', 'Omán', 'Panamá', 'Perú', 'PapúaNuevaGuinea', 'Filipinas', 'Pakistán', 'Polonia', 'EstadodePalestina', 'Palaos', 'Paraguay', 'Catar', 'Rumanía', 'Serbia', 'Rusia', 'Ruanda', 'ArabiaSaudita', 'IslasSalomón', 'Seychelles', 'Sudán', 'Eslovenia', 'Eslovaquia', 'SierraLeona', 'SanMarino', 'Senegal', 'Surinam', 'ElSalvador', 'Siria', 'Eswatini', 'Chad', 'Togo', 'Tailandia', 'Tayikistán', 'TimorOriental', 'Turkmenistán', 'Túnez', 'Türkiye', 'TrinidadyTobago', 'Taiwan', 'Tanzania', 'Ucrania', 'Uganda', 'Uruguay', 'Uzbekistán', 'SanVicenteylasGranadinas', 'Venezuela', 'VietNam', 'Vanuatu', 'Samoa', 'Sudáfrica', 'Zambia']

In [14]:
df_conti = pd.DataFrame({'Pais': lista_paises})

In [15]:
def asignar_continente(Pais):
    for continente, lista_paises in paises_dic.items():
        if Pais in lista_paises:
            return continente
    return None

asignar_continente(paises_dic)

In [16]:
df_conti['Continentes'] = df_conti['Pais'].apply(lambda x: asignar_continente(x))

In [17]:
df_conti

           Pais Continentes
0        España      Europa
1      Alemania      Europa
2    ReinoUnido      Europa
3       Francia      Europa
4      Portugal      Europa
..          ...         ...
166     VietNam        Asia
167     Vanuatu     Oceania
168       Samoa        Asia
169   Sudáfrica      Africa
170      Zambia      Africa

[171 rows x 2 columns]

In [18]:
df_concatenado = pd.merge(df_paises, df_conti, on='Pais', how='left')

df_concatenado

,Pais,Año,SMI Local,Divisa,Dolares($),SMI(€),Var SMI(%),Continentes
0,España,2023,1260.0,€,1343.9,1260.0,8.00,Europa
1,Alemania,2023,1987.0,€,2119.3,1987.0,14.86,Europa
2,ReinoUnido,2022,1621.1,£,1952.7,1929.2,12.91,Europa
3,Francia,2023,1709.3,€,1823.1,1709.3,3.87,Europa
4,Portugal,2023,886.7,€,945.7,886.7,7.80,Europa
...,...,...,...,...,...,...,...,...
3028,Uzbekistán,2004,6530.0,л,6.7,5.4,NaN,Europa
3029,Venezuela,2004,321.0,Bs,NaN,NaN,NaN,Sudamerica
3030,VietNam,2004,290000.0,₫,18.4,NaN,NaN,Asia
3031,Sudáfrica,2004,1310.0,R,202.8,157.3,17.71,Africa
3032,Zambia,2004,76.8,,NaN,NaN,NaN,Africa

In [19]:
df_def = df_concatenado.drop_duplicates(subset=['Pais', 'Año', 'SMI Local', 'Divisa', 'Dolares($)', 'SMI(€)', 'Var SMI(%)', 'Continentes'], keep='first', inplace=False)

In [20]:
df_def

,Pais,Año,SMI Local,Divisa,Dolares($),SMI(€),Var SMI(%),Continentes
0,España,2023,1260.0,€,1343.9,1260.0,8.00,Europa
1,Alemania,2023,1987.0,€,2119.3,1987.0,14.86,Europa
2,ReinoUnido,2022,1621.1,£,1952.7,1929.2,12.91,Europa
3,Francia,2023,1709.3,€,1823.1,1709.3,3.87,Europa
4,Portugal,2023,886.7,€,945.7,886.7,7.80,Europa
...,...,...,...,...,...,...,...,...
3028,Uzbekistán,2004,6530.0,л,6.7,5.4,NaN,Europa
3029,Venezuela,2004,321.0,Bs,NaN,NaN,NaN,Sudamerica
3030,VietNam,2004,290000.0,₫,18.4,NaN,NaN,Asia
3031,Sudáfrica,2004,1310.0,R,202.8,157.3,17.71,Africa
3032,Zambia,2004,76.8,,NaN,NaN,NaN,Africa

In [21]:
df_def = df_def.replace({np.nan: None, 0: None, "": None})

In [22]:
df_def[df_def["Pais"]=="Cuba"]

      Pais   Año SMI Local Divisa Dolares($) SMI(€) Var SMI(%)   Continentes
43    Cuba  2020    2100.0      ₱       None   None       None  Norteamerica
727   Cuba  2019     400.0      ₱       None   None       None  Norteamerica
896   Cuba  2018     225.0      ₱       None   None       None  Norteamerica
1065  Cuba  2017     225.0      ₱       None   None       None  Norteamerica
1234  Cuba  2016     225.0      ₱       None   None       None  Norteamerica
1401  Cuba  2015     225.0      ₱       None   None       None  Norteamerica
1565  Cuba  2014     225.0      ₱       None   None       None  Norteamerica
1726  Cuba  2013     225.0      ₱       None   None       None  Norteamerica
1885  Cuba  2012     225.0      ₱       None   None       None  Norteamerica
2038  Cuba  2011     225.0      ₱       None   None       None  Norteamerica
2185  Cuba  2010     225.0      ₱       None   None       None  Norteamerica
2330  Cuba  2009     225.0      ₱       None   None       None  Norteamerica
2472  Cuba  2008     225.0      ₱       None   None       None  Norteamerica
2608  Cuba  2007     225.0      ₱       None   None       None  Norteamerica
2723  Cuba  2006     225.0      ₱       None   None       None  Norteamerica
2837  Cuba  2005     225.0      ₱       None   None       None  Norteamerica
2951  Cuba  2004     100.0      ₱       None   None       None  Norteamerica

## INDICE DE GINI

In [23]:
datos_gini=extraer_datos('https://datosmacro.expansion.com/demografia/indice-gini?anio=',20,2023)
datos_gini

[['España [+]', '2022', '32,0', '', '-3,03%'],
 ['Alemania [+]', '2022', '28,8', '', '-7,69%'],
 ['Reino Unido [+]', '2018', '33,5', '', '1,21%'],
 ['Francia [+]', '2021', '29,3', '', '0,34%'],
 ['Italia [+]', '2022', '32,7', '', '-0,61%'],
 ['Portugal [+]', '2021', '33,0', '', '5,77%'],
 ['Estados Unidos [+]', '2020', '39,7', '', '-4,34%'],
 ['Japón [+]', '2013', '32,9', '', '2,49%'],
 ['China [+]', '2019', '38,2', '', '-0,78%'],
 ['Emiratos Árabes Unidos [+]', '2018', '26,0', '', '-20,00%'],
 ['Albania [+]', '2020', '33,2', '', '-3,21%'],
 ['Armenia [+]', '2021', '27,9', '', '11,16%'],
 ['Angola [+]', '2018', '51,3', '', '20,14%'],
 ['Argentina [+]', '2021', '42,0', '', '-0,71%'],
 ['Austria [+]', '2022', '27,8', '', '4,12%'],
 ['Australia [+]', '2018', '34,3', '', '1,78%'],
 ['Azerbaiyán [+]', '2008', '31,8', '', '19,55%'],
 ['Bosnia y Herzegovina [+]', '2015', '32,7', '', '-0,91%'],
 ['Bangladés [+]', '2016', '32,4', '', '0,93%'],
 ['Bélgica [+]', '2022', '24,9', '', '3,32%'],
 ['Burkina Faso [+]', '2018', '47,3', '', '33,99%'],
 ['Bulgaria [+]', '2022', '38,4', '', '-3,27%'],
 ['Burundi [+]', '2013', '38,6', '', '15,57%'],
 ['Benin [+]', '2018', '37,8', '', '-20,92%'],
 ['Bolivia [+]', '2021', '40,9', '', '-6,19%'],
 ['Brasil [+]', '2021', '52,9', '', '8,18%'],
 ['Bután [+]', '2017', '37,4', '', '-3,61%'],
 ['Botsuana [+]', '2015', '53,3', '', '-11,90%'],
 ['Bielorrusia [+]', '2020', '24,4', '', '-3,56%'],
 ['Belice [+]', '1999', '53,3', '', '-2,91%'],
 ['Canadá [+]', '2018', '32,5', '', '-2,40%'],
 ['República Democrática del Congo [+]', '2012', '42,1', '', '-5,24%'],
 ['República Centroafricana [+]', '2008', '56,2', '', '28,90%'],
 ['República del Congo [+]', '2011', '48,9', '', '3,38%'],
 ['Suiza [+]', '2021', '31,4', '', '0,64%'],
 ['Costa de Marfil [+]', '2018', '37,2', '', '-10,36%'],
 ['Chile [+]', '2020', '44,9', '', '1,13%'],
 ['Camerún [+]', '2014', '46,6', '', '8,88%'],
 ['Colombia [+]', '2021', '51,5', '', '-3,74%'],
 ['Costa Rica [+]', '2021', '48,7', '', '-1,02%'],
 ['Cabo Verde [+]', '2015', '42,4', '', '-10,17%'],
 ['Chipre [+]', '2021', '29,4', '', '0,34%'],
 ['Chequia [+]', '2022', '24,8', '', '-0,40%'],
 ['Yibuti [+]', '2017', '41,6', '', '-5,67%'],
 ['Dinamarca [+]', '2021', '27,0', '', '-1,10%'],
 ['República Dominicana [+]', '2021', '38,5', '', '-2,78%'],
 ['Argelia [+]', '2011', '27,6', '', '-21,81%'],
 ['Ecuador [+]', '2021', '45,8', '', '-3,17%'],
 ['Estonia [+]', '2022', '31,9', '', '4,25%'],
 ['Egipto [+]', '2019', '31,9', '', '1,27%'],
 ['Etiopía [+]', '2015', '35,0', '', '5,42%'],
 ['Finlandia [+]', '2022', '26,6', '', '3,50%'],
 ['Fiyi [+]', '2019', '30,7', '', '-16,35%'],
 ['Estados Federados de Micronesia [+]', '2013', '40,1', '', '-5,42%'],
 ['Gabón [+]', '2017', '38,0', '', '-9,95%'],
 ['Georgia [+]', '2021', '34,2', '', '-0,87%'],
 ['Ghana [+]', '2016', '43,5', '', '2,59%'],
 ['Gambia [+]', '2020', '38,8', '', '8,08%'],
 ['Guinea [+]', '2018', '29,6', '', '-12,17%'],
 ['Grecia [+]', '2022', '31,4', '', '-3,09%'],
 ['Guatemala [+]', '2014', '48,3', '', '-7,65%'],
 ['Guinea-Bisáu [+]', '2018', '34,8', '', '-31,36%'],
 ['Guyana [+]', '1998', '45,1', '', ''],
 ['Honduras [+]', '2019', '48,2', '', '-1,43%'],
 ['Croacia [+]', '2022', '28,5', '', '-2,40%'],
 ['Haití [+]', '2012', '41,1', '', '-30,90%'],
 ['Hungría [+]', '2022', '27,4', '', '-0,72%'],
 ['Indonesia [+]', '2022', '37,9', '', '0'],
 ['Irlanda [+]', '2022', '27,9', '', '3,72%'],
 ['Israel [+]', '2018', '38,6', '', '1,05%'],
 ['India [+]', '2019', '35,7', '', '3,18%'],
 ['Irak [+]', '2012', '29,5', '', '3,15%'],
 ['Irán [+]', '2019', '40,9', '', '-2,62%'],
 ['Islandia [+]', '2018', '23,2', '', '-7,94%'],
 ['Jamaica [+]', '2004', '45,5', '', '-5,80%'],
 ['Jordania [+]', '2010', '33,7', '', '3,37%'],
 ['Kenia [+]', '2015', '40,8', '', '-12,26%'],
 ['Kirguistán [+]', '2020', '29,0', '', '-2,36%'],
 ['Camboya [+]', '2012', '30,8', '', '-2,97%'],
 ['Kiribati [+]', '2019', '27,8', '', '-24,86%'],
 ['Comoras [+]', '2014', '45,3', '', '0'],
 ['Corea del Sur [+]', '2016', '31,4', '', '0,64%'],
 ['Kazajistán [+]', '2018', '27,8', '', '1,09%'],
 ['Laos [+]', '2018', '38,8', '', '7,78%'],
 ['Líbano [+]', '2011', '31,8', '', ''],
 ['Santa Lucía [+]', '2016', '51,2', '', '20,19%'],
 ['Sri Lanka [+]', '2019', '37,7', '', '-4,07%'],
 ['Liberia [+]', '2016', '35,3', '', '6,33%'],
 ['Lesoto [+]', '2017', '44,9', '', '-17,16%'],
 ['Lituania [+]', '2022', '36,2', '', '2,26%'],
 ['Luxemburgo [+]', '2021', '29,6', '', '-5,13%'],
 ['Letonia [+]', '2022', '34,3', '', '-3,92%'],
 ['Marruecos [+]', '2013', '39,5', '', '-3,38%'],
 ['Moldavia [+]', '2021', '25,7', '', '-1,15%'],
 ['Montenegro [+]', '2020', '32,9', '', '-3,52%'],
 ['Madagascar [+]', '2012', '42,6', '', '0,47%'],
 ['Islas Marshall [+]', '2019', '35,5', '', ''],
 ['Macedonia del Norte [+]', '2020', '31,4', '', '2,28%'],
 ['Malí [+]', '2018', '36,1', '', '9,33%'],
 ['Myanmar [+]', '2017', '30,7', '', '-19,42%'],
 ['Mongolia [+]', '2018', '32,7', '', '1,24%'],
 ['Mauritania [+]', '2014', '32,6', '', '-8,68%'],
 ['Malta [+]', '2021', '31,2', '', '2,97%'],
 ['Mauricio [+]', '2017', '36,8', '', '-4,42%'],
 ['Maldivas [+]', '2019', '29,3', '', '-6,39%'],
 ['Malaui [+]', '2019', '38,5', '', '-13,87%'],
 ['México [+]', '2020', '45,4', '', '-2,78%'],
 ['Malasia [+]', '2018', '41,2', '', '0,24%'],
 ['Mozambique [+]', '2014', '54,0', '', '18,42%'],
 ['Namibia [+]', '2015', '59,1', '', '-3,11%'],
 ['Níger [+]', '2018', '37,3', '', '8,75%'],
 ['Nigeria [+]', '2018', '35,1', '', '-2,23%'],
 ['Nicaragua [+]', '2014', '46,2', '', '5,24%'],
 ['Países Bajos [+]', '2022', '26,3', '', '-0,38%'],
 ['Noruega [+]', '2020', '25,3', '', '-0,39%'],
 ['Nepal [+]', '2010', '32,8', '', '-25,11%'],
 ['Nauru [+]', '2012', '32,4', '', ''],
 ['Panamá [+]', '2021', '50,9', '', '2,21%'],
 ['Perú [+]', '2021', '40,2', '', '-8,22%'],
 ['Papúa Nueva Guinea [+]', '2009', '41,9', '', '-8,52%'],
 ['Filipinas [+]', '2021', '40,7', '', '-3,78%'],
 ['Pakistán [+]', '2018', '29,6', '', '-5,43%'],
 ['Polonia [+]', '2022', '26,3', '', '-1,87%'],
 ['Estado de Palestina [+]', '2016', '33,7', '', '-2,03%'],
 ['Paraguay [+]', '2021', '42,9', '', '-1,38%'],
 ['Rumanía [+]', '2021', '34,3', '', '1,48%'],
 ['Serbia [+]', '2021', '33,3', '', '0'],
 ['Rusia [+]', '2020', '36,0', '', '-4,51%'],
 ['Ruanda [+]', '2016', '43,7', '', '-3,10%'],
 ['Islas Salomón [+]', '2013', '37,1', '', '0'],
 ['Seychelles [+]', '2018', '32,1', '', '-31,41%'],
 ['Sudán [+]', '2014', '34,2', '', '-3,39%'],
 ['Suecia [+]', '2021', '26,8', '', '-0,37%'],
 ['Eslovenia [+]', '2021', '23,0', '', '-2,13%'],
 ['Eslovaquia [+]', '2021', '21,8', '', '4,31%'],
 ['Sierra Leona [+]', '2018', '35,7', '', '5,00%'],
 ['Senegal [+]', '2018', '38,1', '', '-5,46%'],
 ['Somalia [+]', '2017', '36,8', '', ''],
 ['Surinam [+]', '1999', '57,9', '', ''],
 ['Sudán del Sur [+]', '2016', '44,1', '', '-4,75%'],
 ['Santo Tomé y Príncipe [+]', '2017', '40,7', '', '32,14%'],
 ['El Salvador [+]', '2021', '39,0', '', '0,52%'],
 ['Siria [+]', '2004', '35,8', '', '-4,53%'],
 ['Eswatini [+]', '2016', '54,6', '', '6,04%'],
 ['Chad [+]', '2018', '37,5', '', '-13,39%'],
 ['Togo [+]', '2018', '42,4', '', '-1,62%'],
 ['Tailandia [+]', '2021', '35,1', '', '0,29%'],
 ['Tayikistán [+]', '2015', '34,0', '', '10,39%'],
 ['Timor Oriental [+]', '2014', '28,7', '', '3,24%'],
 ['Turkmenistán [+]', '1998', '40,8', '', '15,32%'],
 ['Túnez [+]', '2015', '32,8', '', '-8,38%'],
 ['Tonga [+]', '2015', '33,5', '', '-10,67%'],
 ['Türkiye [+]', '2021', '42,6', '', '-1,84%'],
 ['Trinidad y Tobago [+]', '1992', '40,3', '', '-5,40%'],
 ['Tuvalu [+]', '2010', '39,1', '', ''],
 ['Tanzania [+]', '2018', '40,5', '', '0'],
 ['Ucrania [+]', '2020', '25,6', '', '-3,76%'],
 ['Uganda [+]', '2019', '42,7', '', '-0,23%'],
 ['Uruguay [+]', '2021', '40,8', '', '1,49%'],
 ['Uzbekistán [+]', '2003', '35,3', '', '6,97%'],
 ['Venezuela [+]', '2006', '44,8', '', '-9,49%'],
 ['Viet Nam [+]', '2020', '36,8', '', '3,08%'],
 ['Vanuatu [+]', '2019', '32,3', '', '-13,64%'],
 ['Samoa [+]', '2013', '38,7', '', '-7,86%'],
 ['Yemen [+]', '2014', '36,7', '', '5,76%'],
 ['Sudáfrica [+]', '2014', '63,0', '', '-0,63%'],
 ['Zambia [+]', '2015', '57,1', '', '2,70%'],
 ['Zimbabue [+]', '2019', '50,3', '', '13,54%'],
 ['España [+]', '2022', '32,0', '', '-3,03%'],
 ['Alemania [+]', '2022', '28,8', '', '-7,69%'],
 ['Reino Unido [+]', '2018', '33,5', '', '1,21%'],
 ['Francia [+]', '2021', '29,3', '', '0,34%'],
 ['Italia [+]', '2022', '32,7', '', '-0,61%'],
 ['Portugal [+]', '2021', '33,0', '', '5,77%'],
 ['Estados Unidos [+]', '2020', '39,7', '', '-4,34%'],
 ['Japón [+]', '2013', '32,9', '', '2,49%'],
 ['China [+]', '2019', '38,2', '', '-0,78%'],
 ['Emiratos Árabes Unidos [+]', '2018', '26,0', '', '-20,00%'],
 ['Albania [+]', '2020', '33,2', '', '-3,21%'],
 ['Armenia [+]', '2021', '27,9', '', '11,16%'],
 ['Angola [+]', '2018', '51,3', '', '20,14%'],
 ['Argentina [+]', '2021', '42,0', '', '-0,71%'],
 ['Austria [+]', '2022', '27,8', '', '4,12%'],
 ['Australia [+]', '2018', '34,3', '', '1,78%'],
 ['Azerbaiyán [+]', '2008', '31,8', '', '19,55%'],
 ['Bosnia y Herzegovina [+]', '2015', '32,7', '', '-0,91%'],
 ['Bangladés [+]', '2016', '32,4', '', '0,93%'],
 ['Bélgica [+]', '2022', '24,9', '', '3,32%'],
 ['Burkina Faso [+]', '2018', '47,3', '', '33,99%'],
 ['Bulgaria [+]', '2022', '38,4', '', '-3,27%'],
 ['Burundi [+]', '2013', '38,6', '', '15,57%'],
 ['Benin [+]', '2018', '37,8', '', '-20,92%'],
 ['Bolivia [+]', '2021', '40,9', '', '-6,19%'],
 ['Brasil [+]', '2021', '52,9', '', '8,18%'],
 ['Bután [+]', '2017', '37,4', '', '-3,61%'],
 ['Botsuana [+]', '2015', '53,3', '', '-11,90%'],
 ['Bielorrusia [+]', '2020', '24,4', '', '-3,56%'],
 ['Belice [+]', '1999', '53,3', '', '-2,91%'],
 ['Canadá [+]', '2018', '32,5', '', '-2,40%'],
 ['República Democrática del Congo [+]', '2012', '42,1', '', '-5,24%'],
 ['República Centroafricana [+]', '2008', '56,2', '', '28,90%'],
 ['República del Congo [+]', '2011', '48,9', '', '3,38%'],
 ['Suiza [+]', '2021', '31,4', '', '0,64%'],
 ['Costa de Marfil [+]', '2018', '37,2', '', '-10,36%'],
 ['Chile [+]', '2020', '44,9', '', '1,13%'],
 ['Camerún [+]', '2014', '46,6', '', '8,88%'],
 ['Colombia [+]', '2021', '51,5', '', '-3,74%'],
 ['Costa Rica [+]', '2021', '48,7', '', '-1,02%'],
 ['Cabo Verde [+]', '2015', '42,4', '', '-10,17%'],
 ['Chipre [+]', '2021', '29,4', '', '0,34%'],
 ['Chequia [+]', '2022', '24,8', '', '-0,40%'],
 ['Yibuti [+]', '2017', '41,6', '', '-5,67%'],
 ['Dinamarca [+]', '2021', '27,0', '', '-1,10%'],
 ['República Dominicana [+]', '2021', '38,5', '', '-2,78%'],
 ['Argelia [+]', '2011', '27,6', '', '-21,81%'],
 ['Ecuador [+]', '2021', '45,8', '', '-3,17%'],
 ['Estonia [+]', '2022', '31,9', '', '4,25%'],
 ['Egipto [+]', '2019', '31,9', '', '1,27%'],
 ['Etiopía [+]', '2015', '35,0', '', '5,42%'],
 ['Finlandia [+]', '2022', '26,6', '', '3,50%'],
 ['Fiyi [+]', '2019', '30,7', '', '-16,35%'],
 ['Estados Federados de Micronesia [+]', '2013', '40,1', '', '-5,42%'],
 ['Gabón [+]', '2017', '38,0', '', '-9,95%'],
 ['Georgia [+]', '2021', '34,2', '', '-0,87%'],
 ['Ghana [+]', '2016', '43,5', '', '2,59%'],
 ['Gambia [+]', '2020', '38,8', '', '8,08%'],
 ['Guinea [+]', '2018', '29,6', '', '-12,17%'],
 ['Grecia [+]', '2022', '31,4', '', '-3,09%'],
 ['Guatemala [+]', '2014', '48,3', '', '-7,65%'],
 ['Guinea-Bisáu [+]', '2018', '34,8', '', '-31,36%'],
 ['Guyana [+]', '1998', '45,1', '', ''],
 ['Honduras [+]', '2019', '48,2', '', '-1,43%'],
 ['Croacia [+]', '2022', '28,5', '', '-2,40%'],
 ['Haití [+]', '2012', '41,1', '', '-30,90%'],
 ['Hungría [+]', '2022', '27,4', '', '-0,72%'],
 ['Indonesia [+]', '2022', '37,9', '', '0'],
 ['Irlanda [+]', '2022', '27,9', '', '3,72%'],
 ['Israel [+]', '2018', '38,6', '', '1,05%'],
 ['India [+]', '2019', '35,7', '', '3,18%'],
 ['Irak [+]', '2012', '29,5', '', '3,15%'],
 ['Irán [+]', '2019', '40,9', '', '-2,62%'],
 ['Islandia [+]', '2018', '23,2', '', '-7,94%'],
 ['Jamaica [+]', '2004', '45,5', '', '-5,80%'],
 ['Jordania [+]', '2010', '33,7', '', '3,37%'],
 ['Kenia [+]', '2015', '40,8', '', '-12,26%'],
 ['Kirguistán [+]', '2020', '29,0', '', '-2,36%'],
 ['Camboya [+]', '2012', '30,8', '', '-2,97%'],
 ['Kiribati [+]', '2019', '27,8', '', '-24,86%'],
 ['Comoras [+]', '2014', '45,3', '', '0'],
 ['Corea del Sur [+]', '2016', '31,4', '', '0,64%'],
 ['Kazajistán [+]', '2018', '27,8', '', '1,09%'],
 ['Laos [+]', '2018', '38,8', '', '7,78%'],
 ['Líbano [+]', '2011', '31,8', '', ''],
 ['Santa Lucía [+]', '2016', '51,2', '', '20,19%'],
 ['Sri Lanka [+]', '2019', '37,7', '', '-4,07%'],
 ['Liberia [+]', '2016', '35,3', '', '6,33%'],
 ['Lesoto [+]', '2017', '44,9', '', '-17,16%'],
 ['Lituania [+]', '2022', '36,2', '', '2,26%'],
 ['Luxemburgo [+]', '2021', '29,6', '', '-5,13%'],
 ['Letonia [+]', '2022', '34,3', '', '-3,92%'],
 ['Marruecos [+]', '2013', '39,5', '', '-3,38%'],
 ['Moldavia [+]', '2021', '25,7', '', '-1,15%'],
 ['Montenegro [+]', '2020', '32,9', '', '-3,52%'],
 ['Madagascar [+]', '2012', '42,6', '', '0,47%'],
 ['Islas Marshall [+]', '2019', '35,5', '', ''],
 ['Macedonia del Norte [+]', '2020', '31,4', '', '2,28%'],
 ['Malí [+]', '2018', '36,1', '', '9,33%'],
 ['Myanmar [+]', '2017', '30,7', '', '-19,42%'],
 ['Mongolia [+]', '2018', '32,7', '', '1,24%'],
 ['Mauritania [+]', '2014', '32,6', '', '-8,68%'],
 ['Malta [+]', '2021', '31,2', '', '2,97%'],
 ['Mauricio [+]', '2017', '36,8', '', '-4,42%'],
 ['Maldivas [+]', '2019', '29,3', '', '-6,39%'],
 ['Malaui [+]', '2019', '38,5', '', '-13,87%'],
 ['México [+]', '2020', '45,4', '', '-2,78%'],
 ['Malasia [+]', '2018', '41,2', '', '0,24%'],
 ['Mozambique [+]', '2014', '54,0', '', '18,42%'],
 ['Namibia [+]', '2015', '59,1', '', '-3,11%'],
 ['Níger [+]', '2018', '37,3', '', '8,75%'],
 ['Nigeria [+]', '2018', '35,1', '', '-2,23%'],
 ['Nicaragua [+]', '2014', '46,2', '', '5,24%'],
 ['Países Bajos [+]', '2022', '26,3', '', '-0,38%'],
 ['Noruega [+]', '2020', '25,3', '', '-0,39%'],
 ['Nepal [+]', '2010', '32,8', '', '-25,11%'],
 ['Nauru [+]', '2012', '32,4', '', ''],
 ['Panamá [+]', '2021', '50,9', '', '2,21%'],
 ['Perú [+]', '2021', '40,2', '', '-8,22%'],
 ['Papúa Nueva Guinea [+]', '2009', '41,9', '', '-8,52%'],
 ['Filipinas [+]', '2021', '40,7', '', '-3,78%'],
 ['Pakistán [+]', '2018', '29,6', '', '-5,43%'],
 ['Polonia [+]', '2022', '26,3', '', '-1,87%'],
 ['Estado de Palestina [+]', '2016', '33,7', '', '-2,03%'],
 ['Paraguay [+]', '2021', '42,9', '', '-1,38%'],
 ['Rumanía [+]', '2021', '34,3', '', '1,48%'],
 ['Serbia [+]', '2021', '33,3', '', '0'],
 ['Rusia [+]', '2020', '36,0', '', '-4,51%'],
 ['Ruanda [+]', '2016', '43,7', '', '-3,10%'],
 ['Islas Salomón [+]', '2013', '37,1', '', '0'],
 ['Seychelles [+]', '2018', '32,1', '', '-31,41%'],
 ['Sudán [+]', '2014', '34,2', '', '-3,39%'],
 ['Suecia [+]', '2021', '26,8', '', '-0,37%'],
 ['Eslovenia [+]', '2021', '23,0', '', '-2,13%'],
 ['Eslovaquia [+]', '2021', '21,8', '', '4,31%'],
 ['Sierra Leona [+]', '2018', '35,7', '', '5,00%'],
 ['Senegal [+]', '2018', '38,1', '', '-5,46%'],
 ['Somalia [+]', '2017', '36,8', '', ''],
 ['Surinam [+]', '1999', '57,9', '', ''],
 ['Sudán del Sur [+]', '2016', '44,1', '', '-4,75%'],
 ['Santo Tomé y Príncipe [+]', '2017', '40,7', '', '32,14%'],
 ['El Salvador [+]', '2021', '39,0', '', '0,52%'],
 ['Siria [+]', '2004', '35,8', '', '-4,53%'],
 ['Eswatini [+]', '2016', '54,6', '', '6,04%'],
 ['Chad [+]', '2018', '37,5', '', '-13,39%'],
 ['Togo [+]', '2018', '42,4', '', '-1,62%'],
 ['Tailandia [+]', '2021', '35,1', '', '0,29%'],
 ['Tayikistán [+]', '2015', '34,0', '', '10,39%'],
 ['Timor Oriental [+]', '2014', '28,7', '', '3,24%'],
 ['Turkmenistán [+]', '1998', '40,8', '', '15,32%'],
 ['Túnez [+]', '2015', '32,8', '', '-8,38%'],
 ['Tonga [+]', '2015', '33,5', '', '-10,67%'],
 ['Türkiye [+]', '2021', '42,6', '', '-1,84%'],
 ['Trinidad y Tobago [+]', '1992', '40,3', '', '-5,40%'],
 ['Tuvalu [+]', '2010', '39,1', '', ''],
 ['Tanzania [+]', '2018', '40,5', '', '0'],
 ['Ucrania [+]', '2020', '25,6', '', '-3,76%'],
 ['Uganda [+]', '2019', '42,7', '', '-0,23%'],
 ['Uruguay [+]', '2021', '40,8', '', '1,49%'],
 ['Uzbekistán [+]', '2003', '35,3', '', '6,97%'],
 ['Venezuela [+]', '2006', '44,8', '', '-9,49%'],
 ['Viet Nam [+]', '2020', '36,8', '', '3,08%'],
 ['Vanuatu [+]', '2019', '32,3', '', '-13,64%'],
 ['Samoa [+]', '2013', '38,7', '', '-7,86%'],
 ['Yemen [+]', '2014', '36,7', '', '5,76%'],
 ['Sudáfrica [+]', '2014', '63,0', '', '-0,63%'],
 ['Zambia [+]', '2015', '57,1', '', '2,70%'],
 ['Zimbabue [+]', '2019', '50,3', '', '13,54%'],
 ['España [+]', '2021', '33,0', '', '2,80%'],
 ['Alemania [+]', '2021', '31,2', '', '2,30%'],
 ['Reino Unido [+]', '2018', '33,5', '', '1,21%'],
 ['Francia [+]', '2021', '29,3', '', '0,34%'],
 ['Italia [+]', '2021', '32,9', '', '1,23%'],
 ['Portugal [+]', '2021', '33,0', '', '5,77%'],
 ['Estados Unidos [+]', '2020', '39,7', '', '-4,34%'],
 ['Japón [+]', '2013', '32,9', '', '2,49%'],
 ['China [+]', '2019', '38,2', '', '-0,78%'],
 ['Emiratos Árabes Unidos [+]', '2018', '26,0', '', '-20,00%'],
 ['Albania [+]', '2020', '33,2', '', '-3,21%'],
 ['Armenia [+]', '2021', '27,9', '', '11,16%'],
 ['Angola [+]', '2018', '51,3', '', '20,14%'],
 ['Argentina [+]', '2021', '42,0', '', '-0,71%'],
 ['Austria [+]', '2021', '26,7', '', '-1,11%'],
 ['Australia [+]', '2018', '34,3', '', '1,78%'],
 ['Azerbaiyán [+]', '2008', '31,8', '', '19,55%'],
 ['Bosnia y Herzegovina [+]', '2015', '32,7', '', '-0,91%'],
 ['Bangladés [+]', '2016', '32,4', '', '0,93%'],
 ['Bélgica [+]', '2021', '24,1', '', '-5,12%'],
 ['Burkina Faso [+]', '2018', '47,3', '', '33,99%'],
 ['Bulgaria [+]', '2021', '39,7', '', '-0,75%'],
 ['Burundi [+]', '2013', '38,6', '', '15,57%'],
 ['Benin [+]', '2018', '37,8', '', '-20,92%'],
 ['Bolivia [+]', '2021', '40,9', '', '-6,19%'],
 ['Brasil [+]', '2021', '52,9', '', '8,18%'],
 ['Bután [+]', '2017', '37,4', '', '-3,61%'],
 ['Botsuana [+]', '2015', '53,3', '', '-11,90%'],
 ['Bielorrusia [+]', '2020', '24,4', '', '-3,56%'],
 ['Belice [+]', '1999', '53,3', '', '-2,91%'],
 ['Canadá [+]', '2018', '32,5', '', '-2,40%'],
 ['República Democrática del Congo [+]', '2012', '42,1', '', '-5,24%'],
 ['República Centroafricana [+]', '2008', '56,2', '', '28,90%'],
 ['República del Congo [+]', '2011', '48,9', '', '3,38%'],
 ['Suiza [+]', '2021', '31,4', '', '0,64%'],
 ['Costa de Marfil [+]', '2018', '37,2', '', '-10,36%'],
 ['Chile [+]', '2020', '44,9', '', '1,13%'],
 ['Camerún [+]', '2014', '46,6', '', '8,88%'],
 ['Colombia [+]', '2021', '51,5', '', '-3,74%'],
 ['Costa Rica [+]', '2021', '48,7', '', '-1,02%'],
 ['Cabo Verde [+]', '2015', '42,4', '', '-10,17%'],
 ['Chipre [+]', '2021', '29,4', '', '0,34%'],
 ['Chequia [+]', '2021', '24,9', '', '2,89%'],
 ['Yibuti [+]', '2017', '41,6', '', '-5,67%'],
 ['Dinamarca [+]', '2021', '27,0', '', '-1,10%'],
 ['República Dominicana [+]', '2021', '38,5', '', '-2,78%'],
 ['Argelia [+]', '2011', '27,6', '', '-21,81%'],
 ['Ecuador [+]', '2021', '45,8', '', '-3,17%'],
 ['Estonia [+]', '2021', '30,6', '', '0,33%'],
 ['Egipto [+]', '2019', '31,9', '', '1,27%'],
 ['Etiopía [+]', '2015', '35,0', '', '5,42%'],
 ['Finlandia [+]', '2021', '25,7', '', '-3,02%'],
 ['Fiyi [+]', '2019', '30,7', '', '-16,35%'],
 ['Estados Federados de Micronesia [+]', '2013', '40,1', '', '-5,42%'],
 ['Gabón [+]', '2017', '38,0', '', '-9,95%'],
 ['Georgia [+]', '2021', '34,2', '', '-0,87%'],
 ['Ghana [+]', '2016', '43,5', '', '2,59%'],
 ['Gambia [+]', '2020', '38,8', '', '8,08%'],
 ['Guinea [+]', '2018', '29,6', '', '-12,17%'],
 ['Grecia [+]', '2021', '32,4', '', '3,18%'],
 ['Guatemala [+]', '2014', '48,3', '', '-7,65%'],
 ['Guinea-Bisáu [+]', '2018', '34,8', '', '-31,36%'],
 ['Guyana [+]', '1998', '45,1', '', ''],
 ['Honduras [+]', '2019', '48,2', '', '-1,43%'],
 ['Croacia [+]', '2021', '29,2', '', '3,18%'],
 ['Haití [+]', '2012', '41,1', '', '-30,90%'],
 ['Hungría [+]', '2021', '27,6', '', '-1,43%'],
 ['Indonesia [+]', '2021', '37,9', '', '0,80%'],
 ['Irlanda [+]', '2021', '26,9', '', '-4,95%'],
 ['Israel [+]', '2018', '38,6', '', '1,05%'],
 ['India [+]', '2019', '35,7', '', '3,18%'],

In [24]:
columnas_gini = ["Pais", "Año", "Indice de Gini","Vacia", "Var Indice de Gini %"]
    
df_gini = crear_DataFrame(datos_gini, columnas_gini)


print(df_gini)
#Eliminaciòn de la columna "Vacia", ya que no contine datos.
df_gini = df_gini.drop("Vacia", axis = 1)
df_gini

                 Pais   Año Indice de Gini Vacia Var Indice de Gini %
0          España [+]  2022           32,0                     -3,03%
1        Alemania [+]  2022           28,8                     -7,69%
2     Reino Unido [+]  2018           33,5                      1,21%
3         Francia [+]  2021           29,3                      0,34%
4          Italia [+]  2022           32,7                     -0,61%
...               ...   ...            ...   ...                  ...
3201        Samoa [+]  2002           40,7
3202        Yemen [+]  1998           35,0
3203    Sudáfrica [+]  2000           57,8                     -4,78%
3204       Zambia [+]  2004           54,3                     29,04%
3205     Zimbabue [+]  1995           50,1

[3206 rows x 5 columns]

                 Pais   Año Indice de Gini Var Indice de Gini %
0          España [+]  2022           32,0               -3,03%
1        Alemania [+]  2022           28,8               -7,69%
2     Reino Unido [+]  2018           33,5                1,21%
3         Francia [+]  2021           29,3                0,34%
4          Italia [+]  2022           32,7               -0,61%
...               ...   ...            ...                  ...
3201        Samoa [+]  2002           40,7
3202        Yemen [+]  1998           35,0
3203    Sudáfrica [+]  2000           57,8               -4,78%
3204       Zambia [+]  2004           54,3               29,04%
3205     Zimbabue [+]  1995           50,1

[3206 rows x 4 columns]

In [25]:
#Limpieza de la columa pais.
df_gini['Pais'] = [x.replace('[+]','').replace(' ','') for x in df_gini['Pais']]


df_gini['Pais']

0           España
1         Alemania
2       ReinoUnido
3          Francia
4           Italia
           ...
3201         Samoa
3202         Yemen
3203     Sudáfrica
3204        Zambia
3205      Zimbabue
Name: Pais, Length: 3206, dtype: object

In [26]:
#Limpieza y conversion (a float) de la columna Var Indice de Gini (%)

#Pasamos a Nan los None y las cadenas vacias
df_gini ["Var Indice de Gini %"] = [np.nan if (x==None or x=='') else x for x in df_gini ["Var Indice de Gini %"]]

#Limpiamos los elementos de la columna, para poder luego convertirlos a Float
df_gini ["Var Indice de Gini %"] = [x.replace('%','').replace(',','.').replace('.','') if type(x)!=float else x for x in df_gini ["Var Indice de Gini %"]]
#Pasamos a Nan los None y las cadenas vacias
df_gini ["Indice de Gini"] = [np.nan if (x==None or x=='') else x for x in df_gini ["Indice de Gini"]]

#Limpiamos los elementos de la columna, para poder luego convertirlos a Float
df_gini ["Indice de Gini"] = [x.replace(',','.').replace('.','') if type(x)!=float else x for x in df_gini ["Indice de Gini"]]

     
#Finalmente pasamos a float/int el resto de valores de la tabla
df_gini ["Var Indice de Gini %"] = [float(x)/100 if type(x)!=float else x for x in df_gini ["Var Indice de Gini %"]] 
df_gini ["Indice de Gini"] = [float(x)/100 if type(x)!=float else x for x in df_gini["Indice de Gini"]] 
df_gini ["Año"] = [int(x) if type(x)!=int else x for x in df_gini ["Año"]] 


df_gini

            Pais   Año  Indice de Gini  Var Indice de Gini %
0         España  2022            3.20                 -3.03
1       Alemania  2022            2.88                 -7.69
2     ReinoUnido  2018            3.35                  1.21
3        Francia  2021            2.93                  0.34
4         Italia  2022            3.27                 -0.61
...          ...   ...             ...                   ...
3201       Samoa  2002            4.07                   NaN
3202       Yemen  1998            3.50                   NaN
3203   Sudáfrica  2000            5.78                 -4.78
3204      Zambia  2004            5.43                 29.04
3205    Zimbabue  1995            5.01                   NaN

[3206 rows x 4 columns]

In [27]:
lista_paises1 = df_gini ['Pais']
lista_paises1

0           España
1         Alemania
2       ReinoUnido
3          Francia
4           Italia
           ...
3201         Samoa
3202         Yemen
3203     Sudáfrica
3204        Zambia
3205      Zimbabue
Name: Pais, Length: 3206, dtype: object

In [28]:
Paises_dic1 = {'Europa': ['España', 'Alemania', 'ReinoUnido', 'Francia', 'Italia', 'Portugal', 'Albania', 'Armenia', 'Austria', 'Azerbaiyán', 'BosniayHerzegovina', 'Bélgica', 'Bulgaria', 'Bielorrusia', 'Suiza', 'Chipre', 'Chequia', 'Dinamarca', 'Estonia', 'Finlandia', 'Georgia', 'Grecia', 'Croacia', 'Hungría', 'Irlanda', 'Israel', 'Islandia', 'Kazajistán', 'Lituania', 'Luxemburgo', 'Letonia', 'Moldavia', 'Montenegro', 'MacedoniadelNorte', 'Mongolia', 'Malta', 'PaísesBajos', 'Noruega', 'Polonia', 'Rumanía', 'Serbia', 'Rusia', 'Suecia', 'Eslovenia', 'Eslovaquia', 'Türkiye', 'Ucrania', 'Uzbekistán'],
 'Asia': ['Japón', 'China', 'EmiratosÁrabesUnidos', 'Bangladés', 'Bután', 'Indonesia', 'India', 'Irak', 'Irán', 'Jordania', 'Kirguistán', 'Camboya', 'CoreadelSur', 'Laos', 'Líbano', 'SriLanka', 'Myanmar', 'Maldivas', 'Malasia', 'Nepal', 'Filipinas', 'Pakistán', 'EstadodePalestina', 'Surinam', 'Siria', 'Tailandia', 'Tayikistán', 'TimorOriental', 'Turkmenistán', 'VietNam', 'Yemen'],
 'Norteamerica': ['EstadosUnidos', 'Belice', 'Canadá', 'RepúblicaDominicana', 'Haití', 'Jamaica', 'SantaLucía', 'México', 'TrinidadyTobago'],
 'America_Central': ['CostaRica', 'Guatemala', 'Honduras', 'Nicaragua', 'Panamá', 'ElSalvador'],
 'Sudamerica': ['Argentina', 'Bolivia', 'Brasil', 'Chile', 'Colombia', 'Ecuador', 'Guyana', 'Perú', 'Paraguay', 'Uruguay', 'Venezuela'],
 'Africa': ['Etiopía', 'Angola', 'BurkinaFaso', 'Burundi', 'Benin', 'Botsuana', 'RepúblicaDemocráticadelCongo', 'RepúblicaCentroafricana', 'RepúblicadelCongo', 'CostadeMarfil', 'Camerún', 'CaboVerde', 'Yibuti', 'Argelia', 'Egipto', 'Gabón', 'Ghana', 'Gambia', 'Guinea', 'Guinea-Bisáu', 'Kenia', 'Comoras', 'Liberia', 'Lesoto', 'Marruecos', 'Madagascar', 'Malí', 'Mauritania', 'Mauricio', 'Malaui', 'Mozambique', 'Namibia', 'Níger', 'Nigeria', 'Ruanda', 'Seychelles', 'Sudán', 'SierraLeona', 'Senegal', 'Somalia', 'SudándelSur', 'SantoToméyPríncipe', 'Eswatini', 'Chad', 'Togo', 'Túnez', 'Tanzania', 'Uganda', 'Sudáfrica', 'Zambia', 'Zimbabue'],
 'Oceania': ['Australia', 'Fiyi', 'EstadosFederadosdeMicronesia', 'Kiribati', 'IslasMarshall', 'Nauru', 'PapúaNuevaGuinea', 'IslasSalomón', 'Tonga', 'Tuvalu', 'Vanuatu', 'Samoa']}

In [29]:
Europa = Paises_dic1['Europa']
Asia = Paises_dic1['Asia']
Norteamerica = Paises_dic1['Norteamerica']
America_Central = Paises_dic1['America_Central']
Sudamerica = Paises_dic1['Sudamerica']
Africa = Paises_dic1['Africa']
Oceania = Paises_dic1['Oceania']

In [30]:
df_conti1 = pd.DataFrame({'Pais': lista_paises1})

In [31]:
def asignar_continente1(Pais):
    for continente, lista_paises1 in Paises_dic1.items():
        if Pais in lista_paises1:
            return continente
    return None

asignar_continente1(Paises_dic1)

In [32]:
df_conti1['Continentes'] = df_conti1['Pais'].apply(lambda x: asignar_continente1(x))
print(df_conti1)

            Pais Continentes
0         España      Europa
1       Alemania      Europa
2     ReinoUnido      Europa
3        Francia      Europa
4         Italia      Europa
...          ...         ...
3201       Samoa     Oceania
3202       Yemen        Asia
3203   Sudáfrica      Africa
3204      Zambia      Africa
3205    Zimbabue      Africa

[3206 rows x 2 columns]

In [33]:
df_concatenado1 = pd.merge(df_gini, df_conti1, on='Pais', how='left')

In [34]:
df_concatenado1

           Pais   Año  Indice de Gini  Var Indice de Gini % Continentes
0        España  2022            3.20                 -3.03      Europa
1        España  2022            3.20                 -3.03      Europa
2        España  2022            3.20                 -3.03      Europa
3        España  2022            3.20                 -3.03      Europa
4        España  2022            3.20                 -3.03      Europa
...         ...   ...             ...                   ...         ...
62355  Zimbabue  1995            5.01                   NaN      Africa
62356  Zimbabue  1995            5.01                   NaN      Africa
62357  Zimbabue  1995            5.01                   NaN      Africa
62358  Zimbabue  1995            5.01                   NaN      Africa
62359  Zimbabue  1995            5.01                   NaN      Africa

[62360 rows x 5 columns]

In [35]:
df_paises.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3033 entries, 0 to 3032
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Pais        3033 non-null   object
 1   Año         3033 non-null   int64
 2   SMI Local   3024 non-null   float64
 3   Divisa      3033 non-null   object
 4   Dolares($)  2959 non-null   float64
 5   SMI(€)      2058 non-null   float64
 6   Var SMI(%)  1959 non-null   float64
dtypes: float64(4), int64(1), object(2)
memory usage: 166.0+ KB

In [36]:
df_def1 = df_concatenado1.drop_duplicates(subset=['Pais', 'Año', 'Indice de Gini', 'Var Indice de Gini %', 'Continentes'], keep='first', inplace=False)

In [37]:
df_def1

             Pais   Año  Indice de Gini  Var Indice de Gini % Continentes
0          España  2022            3.20                 -3.03      Europa
20       Alemania  2022            2.88                 -7.69      Europa
40     ReinoUnido  2018            3.35                  1.21      Europa
60        Francia  2021            2.93                  0.34      Europa
80         Italia  2022            3.27                 -0.61      Europa
...           ...   ...             ...                   ...         ...
62160      Uganda  2002            4.52                  5.12      Africa
62180     Uruguay  2004            4.59                  2.00  Sudamerica
62220   Venezuela  2004            4.75                 -1.25  Sudamerica
62280       Yemen  1998            3.50                   NaN        Asia
62300   Sudáfrica  2000            5.78                 -4.78      Africa

[1465 rows x 5 columns]

In [59]:
df_def1 = df_def1.replace({np.nan: None, 0: None, "": None})

In [60]:
df_def1[df_def1["Pais"]=="Zimbabue"]

           Pais   Año Indice de Gini Var Indice de Gini % Continentes
3186   Zimbabue  2019           5.03                13.54      Africa
19211  Zimbabue  2017           4.43                 2.55      Africa
25599  Zimbabue  2011           4.32               -13.77      Africa
44516  Zimbabue  1995           5.01                 None      Africa

# EPA

In [39]:
url = "https://datosmacro.expansion.com/paro-epa"
response = requests.get(url)
print(response)
soup = BeautifulSoup(response.text, "html.parser")
soup.find_all("td")

<Response [200]>

[<td><a href="https://datosmacro.expansion.com/paro-epa/espana">España [+]</a></td>,
 <td class="numero" data-value="13.3">13,3%</td>,
 <td class="hbar wdsp4"><div class="graph_hbar" style="background-color: #F1BF00; width:47.7%;" title="13,3%"></div></td>,
 <td class="numero text-neg" data-value="0.39">0,39</td>,
 <td class="numero text-pos" data-value="-0.39">-0,39</td>,
 <td class="fecha" data-value="2023-03-01">Marzo 2023</td>,
 <td><a href="https://datosmacro.expansion.com/paro-epa/alemania">Alemania [+]</a></td>,
 <td class="numero" data-value="3">3,0%</td>,
 <td class="hbar"><div class="graph_hbar" style="background-color: #FFE000; width:10.8%;" title="3,0%"></div></td>,
 <td class="numero text-pos" data-value="-0.2">-0,20</td>,
 <td class="numero text-pos" data-value="-0.3">-0,30</td>,
 <td class="fecha" data-value="2022-12-01">Diciembre 2022</td>,
 <td><a href="https://datosmacro.expansion.com/paro-epa/uk">Reino Unido [+]</a></td>,
 <td class="numero" data-value="4.9">4,9%</td>,
 <td class="hbar"><div class="graph_hbar" style="background-color: #00247d; width:17.6%;" title="4,9%"></div></td>,
 <td class="numero text-neg" data-value="1.1">1,10</td>,
 <td class="numero text-neg" data-value="1">1,00</td>,
 <td class="fecha" data-value="2020-09-01">Septiembre 2020</td>,
 <td><a href="https://datosmacro.expansion.com/paro-epa/francia">Francia [+]</a></td>,
 <td class="numero" data-value="7.3">7,3%</td>,
 <td class="hbar"><div class="graph_hbar" style="background-color: #0C1C8C; width:26.3%;" title="7,3%"></div></td>,
 <td class="numero" data-value="0">0</td>,
 <td class="numero text-pos" data-value="-0.3">-0,30</td>,
 <td class="fecha" data-value="2022-12-01">Diciembre 2022</td>,
 <td><a href="https://datosmacro.expansion.com/paro-epa/italia">Italia [+]</a></td>,
 <td class="numero" data-value="7.9">7,9%</td>,
 <td class="hbar"><div class="graph_hbar" style="background-color: #008844; width:28.4%;" title="7,9%"></div></td>,
 <td class="numero text-neg" data-value="0.2">0,20</td>,
 <td class="numero text-pos" data-value="-1.2">-1,20</td>,
 <td class="fecha" data-value="2022-12-01">Diciembre 2022</td>,
 <td><a href="https://datosmacro.expansion.com/paro-epa/portugal">Portugal [+]</a></td>,
 <td class="numero" data-value="6.6">6,6%</td>,
 <td class="hbar"><div class="graph_hbar" style="background-color: #006600; width:23.7%;" title="6,6%"></div></td>,
 <td class="numero text-neg" data-value="0.7">0,70</td>,
 <td class="numero text-neg" data-value="0.2">0,20</td>,
 <td class="fecha" data-value="2022-12-01">Diciembre 2022</td>,
 <td><a href="https://datosmacro.expansion.com/paro-epa/usa">Estados Unidos [+]</a></td>,
 <td class="numero" data-value="3.8">3,8%</td>,
 <td class="hbar"><div class="graph_hbar" style="background-color: #0035AD; width:13.6%;" title="3,8%"></div></td>,
 <td class="numero text-neg" data-value="0.45">0,45</td>,
 <td class="numero text-pos" data-value="-0.32">-0,32</td>,
 <td class="fecha" data-value="2023-03-01">Marzo 2023</td>,
 <td><a href="https://datosmacro.expansion.com/paro-epa/japon">Japón [+]</a></td>,
 <td class="numero" data-value="2.6">2,6%</td>,
 <td class="hbar"><div class="graph_hbar" style="background-color: #BC002D; width:9.4%;" title="2,6%"></div></td>,
 <td class="numero text-neg" data-value="0.2">0,20</td>,
 <td class="numero text-pos" data-value="-0.1">-0,10</td>,
 <td class="fecha" data-value="2023-03-01">Marzo 2023</td>,
 <td><a href="https://datosmacro.expansion.com/paro-epa/china">China [+]</a></td>,
 <td class="numero" data-value="4.1">4,1%</td>,
 <td class="hbar"><div class="graph_hbar" style="background-color: #FF0000; width:14.7%;" title="4,1%"></div></td>,
 <td class="numero text-neg" data-value="0.02">0,02</td>,
 <td class="numero" data-value=""></td>,
 <td class="fecha" data-value="2014-12-01">Diciembre 2014</td>,
 <td><a href="https://datosmacro.expansion.com/paro-epa/albania">Albania [+]</a></td>,
 <td class="numero" data-value="11.2">11,2%</td>,
 <td class="hbar"><div class="graph_hbar" style="background-color: #E41E20; width:40.1%;" title="11,2%"></div></td>,
 <td class="numero text-pos" data-value="-0.19">-0,19</td>,
 <td class="numero text-pos" data-value="-1.03">-1,03</td>,
 <td class="fecha" data-value="2019-12-01">Diciembre 2019</td>,
 <td><a href="https://datosmacro.expansion.com/paro-epa/armenia">Armenia [+]</a></td>,
 <td class="numero" data-value="10">10,0%</td>,
 <td class="hbar"><div class="graph_hbar" style="background-color: #0033A0; width:36%;" title="10,0%"></div></td>,
 <td class="numero text-neg" data-value="2.7">2,70</td>,
 <td class="numero text-pos" data-value="-1.65">-1,65</td>,
 <td class="fecha" data-value="2021-12-01">Diciembre 2021</td>,
 <td><a href="https://datosmacro.expansion.com/paro-epa/angola">Angola [+]</a></td>,
 <td class="numero" data-value="15.8">15,8%</td>,
 <td class="hbar"><div class="graph_hbar" style="background-color: #CE1126; width:56.9%;" title="15,8%"></div></td>,
 <td class="numero text-neg" data-value="15.8">15,80</td>,
 <td class="numero" data-value=""></td>,
 <td class="fecha" data-value="2021-03-01">Marzo 2021</td>,
 <td><a href="https://datosmacro.expansion.com/paro-epa/argentina">Argentina [+]</a></td>,
 <td class="numero" data-value="7.1">7,1%</td>,
 <td class="hbar"><div class="graph_hbar" style="background-color: #74ACDF; width:25.6%;" title="7,1%"></div></td>,
 <td class="numero text-neg" data-value="0.25">0,25</td>,
 <td class="numero text-pos" data-value="-1.13">-1,13</td>,
 <td class="fecha" data-value="2022-09-01">Septiembre 2022</td>,
 <td><a href="https://datosmacro.expansion.com/paro-epa/austria">Austria [+]</a></td>,
 <td class="numero" data-value="4.8">4,8%</td>,
 <td class="hbar"><div class="graph_hbar" style="background-color: #000000; width:17.3%;" title="4,8%"></div></td>,
 <td class="numero text-neg" data-value="0.1">0,10</td>,
 <td class="numero text-pos" data-value="-0.3">-0,30</td>,
 <td class="fecha" data-value="2022-12-01">Diciembre 2022</td>,
 <td><a href="https://datosmacro.expansion.com/paro-epa/australia">Australia [+]</a></td>,
 <td class="numero" data-value="3.9">3,9%</td>,
 <td class="hbar"><div class="graph_hbar" style="background-color: #003399; width:13.9%;" title="3,9%"></div></td>,
 <td class="numero text-neg" data-value="0.6">0,60</td>,
 <td class="numero text-pos" data-value="-0.48">-0,48</td>,
 <td class="fecha" data-value="2023-03-01">Marzo 2023</td>,
 <td><a href="https://datosmacro.expansion.com/paro-epa/azerbaiyan">Azerbaiyán [+]</a></td>,
 <td class="numero" data-value="5">5,0%</td>,
 <td class="hbar"><div class="graph_hbar" style="background-color: #00AE65; width:18.1%;" title="5,0%"></div></td>,
 <td class="numero text-neg" data-value="0.09">0,09</td>,
 <td class="numero text-neg" data-value="0.09">0,09</td>,
 <td class="fecha" data-value="2016-12-01">Diciembre 2016</td>,
 <td><a href="https://datosmacro.expansion.com/paro-epa/bosnia-herzegovina">Bosnia y Herzegovina [+]</a></td>,
 <td class="numero" data-value="11.9">11,9%</td>,
 <td class="hbar"><div class="graph_hbar" style="background-color: #002395; width:42.7%;" title="11,9%"></div></td>,
 <td class="numero text-pos" data-value="-0.09">-0,09</td>,
 <td class="numero text-pos" data-value="-2.1">-2,10</td>,
 <td class="fecha" data-value="2022-12-01">Diciembre 2022</td>,
 <td><a href="https://datosmacro.expansion.com/paro-epa/barbados">Barbados [+]</a></td>,
 <td class="numero" data-value="11.9">11,9%</td>,
 <td class="hbar"><div class="graph_hbar" style="background-color: #00267F; width:42.9%;" title="11,9%"></div></td>,
 <td class="numero text-neg" data-value="0.08">0,08</td>,
 <td class="numero text-pos" data-value="-1.29">-1,29</td>,
 <td class="fecha" data-value="2015-06-01">Junio 2015</td>,
 <td><a href="https://datosmacro.expansion.com/paro-epa/banglades">Bangladés [+]</a></td>,
 <td class="numero" data-value="4.5">4,5%</td>,
 <td class="hbar"><div class="graph_hbar" style="background-color: #F42A41; width:16%;" title="4,5%"></div></td>,
 <td class="numero text-pos" data-value="-0.13">-0,13</td>,
 <td class="numero" data-value=""></td>,
 <td class="fecha" data-value="2017-06-01">Junio 2017</td>,
 <td><a href="https://datosmacro.expansion.com/paro-epa/belgica">Bélgica [+]</a></td>,
 <td class="numero" data-value="5.6">5,6%</td>,
 <td class="hbar"><div class="graph_hbar" style="background-color: #FFDA0C; width:20.2%;" title="5,6%"></div></td>,
 <td class="numero text-pos" data-value="-0.1">-0,10</td>,
 <td class="numero text-pos" data-value="-0.2">-0,20</td>,
 <td class="fecha" data-value="2022-12-01">Diciembre 2022</td>,
 <td><a href="https://datosmacro.expansion.com/paro-epa/bulgaria">Bulgaria [+]</a></td>,
 <td class="numero" data-value="3.9">3,9%</td>,
 <td class="hbar"><div class="graph_hbar" style="background-color: #009D57; width:14%;" title="3,9%"></div></td>,
 <td class="numero text-neg" data-value="0.2">0,20</td>,
 <td class="numero text-pos" data-value="-0.7">-0,70</td>,
 <td class="fecha" data-value="2022-12-01">Diciembre 2022</td>,
 <td><a href="https://datosmacro.expansion.com/paro-epa/bolivia">Bolivia [+]</a></td>,
 <td class="numero" data-value="3">3,0%</td>,
 <td class="hbar"><div class="graph_hbar" style="background-color: #F7E214; width:10.9%;" title="3,0%"></div></td>,
 <td class="numero text-pos" data-value="-0.35">-0,35</td>,
 <td class="numero text-pos" data-value="-1.72">-1,72</td>,
 <td class="fecha" data-value="2022-09-01">Septiembre 2022</td>,
 <td><a href="https://datosmacro.expansion.com/paro-epa/brasil">Brasil [+]</a></td>,
 <td class="numero" data-value="11.7">11,7%</td>,
 <td class="hbar"><div class="graph_hbar" style="background-color: #00923E; width:42%;" title="11,7%"></div></td>,
 <td class="numero text-pos" data-value="-0.29">-0,29</td>,
 <td class="numero text-pos" data-value="-0.21">-0,21</td>,
 <td class="fecha" data-value="2018-12-01">Diciembre 2018</td>,
 <td><a href="https://datosmacro.expansion.com/paro-epa/bielorrusia">Bielorrusia [+]</a></td>,
 <td class="numero" data-value="0.5">0,5%</td>,
 <td class="hbar"><div class="graph_hbar" style="background-color: #C8313E; width:1.8%;" title="0,5%"></div></td>,
 <td class="numero text-neg" data-value="0.02">0,02</td>,
 <td class="numero" data-value=""></td>,
 <td class="fecha" data-value="2014-12-01">Diciembre 2014</td>,
 <td><a href="https://datosmacro.expansion.com/paro-epa/belice">Belice [+]</a></td>,
 <td class="numero" data-value="9.2">9,2%</td>,
 <td class="hbar"><div class="graph_hbar" style="background-color: #003F87; width:33.1%;" title="9,2%"></div></td>,
 <td class="numero text-pos" data-value="-1.99">-1,99</td>,
 <td class="numero text-pos" data-value="-20.09">-20,09</td>,
 <td class="fecha" data-value="2021-09-01">Septiembre 2021</td>,
 <td><a href="https://datosmacro.expansion.com/paro-epa/canada">Canadá [+]</a></td>,
 <td class="numero" data-value="5.4">5,4%</td>,
 <td class="hbar"><div class="graph_hbar" style="background-color: #FF0000; width:19.3%;" title="5,4%"></div></td>,
 <td class="numero text-neg" data-value="0.82">0,82</td>,
 <td class="numero text-pos" data-value="-0.71">-0,71</td>,
 <td class="fecha" data-value="2023-03-01">Marzo 2023</td>,
 <td><a href="https://datosmacro.expansion.com/paro-epa/suiza">Suiza [+]</a></td>,
 <td class="numero" data-value="4.2">4,2%</td>,
 <td class="hbar"><div class="graph_hbar" style="background-color: #CC0000; width:15.1%;" title="4,2%"></div></td>,
 <td class="numero text-pos" data-value="-0.1">-0,10</td>,
 <td class="numero text-pos" data-value="-0.3">-0,30</td>,
 <td class="fecha" data-value="2022-12-01">Diciembre 2022</td>,
 <td><a href="https://datosmacro.expansion.com/paro-epa/chile">Chile [+]</a></td>,
 <td class="numero" data-value="9.1">9,1%</td>,
 <td class="hbar"><div class="graph_hbar" style="background-color: #0039A6; width:32.9%;" title="9,1%"></div></td>,
 <td class="numero text-neg" data-value="0.91">0,91</td>,
 <td class="numero text-neg" data-value="0.92">0,92</td>,
 <td class="fecha" data-value="2023-03-01">Marzo 2023</td>,
 <td><a href="https://datosmacro.expansion.com/paro-epa/colombia">Colombia [+]</a></td>,
 <td class="numero" data-value="9.1">9,1%</td>,
 <td class="hbar"><div class="graph_hbar" style="background-color: #003893; width:32.8%;" title="9,1%"></div></td>,
 <td class="numero text-pos" data-value="-1.07">-1,07</td>,
 <td class="numero text-pos" data-value="-3.34">-3,34</td>,
 <td class="fecha" data-value="2022-12-01">Diciembre 2022</td>,
 <td><a href="https://datosmacro.expansion.com/paro-epa/costa-rica">Costa Rica [+]</a></td>,
 <td class="numero" data-value="10.9">10,9%</td>,
 <td class="hbar"><div class="graph_hbar" style="background-color: #CE1126; width:39.2%;" title="10,9%"></div></td>,
 <td class="numero text-pos" data-value="-0.22">-0,22</td>,
 <td class="numero text-pos" data-value="-1.79">-1,79</td>,
 <td class="fecha" data-value="2022-12-01">Diciembre 2022</td>,
 <td><a href="https://datosmacro.expansion.com/paro-epa/chipre">Chipre [+]</a></td>,
 <td class="numero" data-value="7">7,0%</td>,
 <td class="hbar"><div class="graph_hbar" style="background-color: #ED8000; width:25.2%;" title="7,0%"></div></td>,
 <td class="numero text-neg" data-value="0.2">0,20</td>,
 <td class="numero text-neg" data-value="0.7">0,70</td>,
 <td class="fecha" data-value="2022-12-01">Diciembre 2022</td>,
 <td><a href="https://datosmacro.expansion.com/paro-epa/republica-checa">Chequia [+]</a></td>,
 <td class="numero" data-value="2.2">2,2%</td>,
 <td class="hbar"><div class="graph_hbar" style="background-color: #0038A8; width:7.9%;" title="2,2%"></div></td>,
 <td class="numero" data-value="0">0</td>,
 <td class="numero" data-value="0">0</td>,
 <td class="fecha" data-value="2022-12-01">Diciembre 2022</td>,
 <td><a href="https://datosmacro.expansion.com/paro-epa/dinamarca">Dinamarca [+]</a></td>,
 <td class="numero" data-value="4.6">4,6%</td>,
 <td class="hbar"><div class="graph_hbar" style="background-color: #D00C33; width:16.6%;" title="4,6%"></div></td>,
 <td class="numero text-pos" data-value="-0.1">-0,10</td>,
 <td class="numero text-neg" data-value="0.3">0,30</td>,
 <td class="fecha" data-value="2022-12-01">Diciembre 2022</td>,
 <td><a href="https://datosmacro.expansion.com/paro-epa/republica-dominicana">República Dominicana [+]</a></td>,
 <td class="numero" data-value="5.7">5,7%</td>,
 <td class="hbar"><div class="graph_hbar" style="background-color: #002D62; width:20.5%;" title="5,7%"></div></td>,
 <td class="numero text-neg" data-value="0.31">0,31</td>,
 <td class="numero text-pos" data-value="-1.36">-1,36</td>,
 <td class="fecha" data-value="2022-09-01">Septiembre 2022</td>,
 <td><a href="https://datosmacro.expansion.com/paro-epa/argelia">Argelia [+]</a></td>,
 <td class="numero" data-value="10.5">10,5%</td>,
 <td class="hbar"><div class="graph_hbar" style="background-color: #006233; width:37.8%;" title="10,5%"></div></td>,
 <td class="numero text-neg" data-value="0.59">0,59</td>,
 <td class="numero text-pos" data-value="-0.71">-0,71</td>,
 <td class="fecha" data-value="2016-09-01">Septiembre 2016</td>,
 <td><a href="https://datosmacro.expansion.com/paro-epa/ecuador">Ecuador [+]</a></td>,
 <td class="numero" data-value="3.4">3,4%</td>,
 <td class="hbar"><div class="graph_hbar" style="background-color: #FFDD00; width:12.1%;" title="3,4%"></div></td>,
 <td class="numero text-neg" data-value="0.07">0,07</td>,
 <td class="numero text-pos" data-value="-0.87">-0,87</td>,
 <td class="fecha" data-value="2023-03-01">Marzo 2023</td>,
 <td><a href="https://datosmacro.expansion.com/paro-epa/estonia">Estonia [+]</a></td>,
 <td class="numero" data-value="5.4">5,4%</td>,
 <td class="hbar"><div class="graph_hbar" style="background-color: #4891D9; width:19.4%;" title="5,4%"></div></td>,
 <td class="numero text-pos" data-value="-0.2">-0,20</td>,
 <td class="numero text-neg" data-value="0.2">0,20</td>,
 <td class="fecha" data-value="2022-12-01">Diciembre 2022</td>,
 <td><a href="https://datosmacro.expansion.com/paro-epa/egipto">Egipto [+]</a></td>,
 <td class="numero" data-value="7.5">7,5%</td>,
 <td class="hbar"><div class="graph_hbar" style="background-color: #C09300; width:27%;" title="7,5%"></div></td>,
 <td class="numero text-pos" data-value="-0.07">-0,07</td>,
 <td class="numero text-neg" data-value="0.25">0,25</td>,
 <td class="fecha" data-value="2021-12-01">Diciembre 2021</td>,
 <td><a href="https://datosmacro.expansion.com/paro-epa/finlandia">Finlandia [+]</a></td>,
 <td class="numero" data-value="6.2">6,2%</td>,
 <td class="hbar"><div class="graph_hbar" style="background-color: #003580; width:22.3%;" title="6,2%"></div></td>,
 <td class="numero text-pos" data-value="-0.5">-0,50</td>,
 <td class="numero text-pos" data-value="-0.1">-0,10</td>,
 <td class="fecha" data-value="2022-12-01">Diciembre 2022</td>,
 <td><a href="https://datosmacro.expansion.com/paro-epa/georgia">Georgia [+]</a></td>,
 <td class="numero" data-value="13.1">13,1%</td>,
 <td class="hbar"><div class="graph_hbar" style="background-color: #FF0000; width:47.1%;" title="13,1%"></div></td>,
 <td class="numero text-neg" data-value="3.54">3,54</td>,
 <td class="numero text-neg" data-value="2.15">2,15</td>,
 <td class="fecha" data-value="2020-12-01">Diciembre 2020</td>,
 <td><a href="https://datosmacro.expansion.com/paro-epa/grecia">Grecia [+]</a></td>,
 <td class="numero" data-value="11.9">11,9%</td>,
 <td class="hbar"><div class="graph_hbar" style="background-color: #0D5EAF; width:42.8%;" title="11,9%"></div></td>,
 <td class="numero text-neg" data-value="0.2">0,20</td>,
 <td class="numero text-pos" data-value="-1.3">-1,30</td>,
 <td class="fecha" data-value="2022-12-01">Diciembre 2022</td>,
 <td><a href="https://datosmacro.expansion.com/paro-epa/guatemala">Guatemala [+]</a></td>,
 <td class="numero" data-value="2.2">2,2%</td>,
 <td class="hbar"><div class="graph_hbar" style="background-color: #4997D0; width:7.8%;" title="2,2%"></div></td>,
 <td class="numero text-neg" data-value="0.26">0,26</td>,
 <td class="numero" data-value=""></td>,
 <td class="fecha" data-value="2021-12-01">Diciembre 2021</td>,
 <td><a href="https://datosmacro.expansion.com/paro-epa/guyana">Guyana [+]</a></td>,
 <td class="numero" data-value="14.5">14,5%</td>,
 <td class="hbar"><div class="graph_hbar" style="background-color: #FCD116; width:52.1%;" title="14,5%"></div></td>,
 <td class="numero text-pos" data-value="-0.79">-0,79</td>,
 <td class="numero" data-value=""></td>,
 <td class="fecha" data-value="2021-09-01">Septiembre 2021</td>,
 <td><a href="https://datosmacro.expansion.com/paro-epa/hong-kong">Hong Kong [+]</a></td>,
 <td class="numero" data-value="3.2">3,2%</td>,
 <td class="hbar"><div class="graph_hbar" style="background-color: #DE2910; width:11.4%;" title="3,2%"></div></td>,
 <td class="numero text-neg" data-value="0.07">0,07</td>,
 <td class="numero text-pos" data-value="-0.14">-0,14</td>,
 <td class="fecha" data-value="2017-03-01">Marzo 2017</td>,
 <td><a href="https://datosmacro.expansion.com/paro-epa/honduras">Honduras [+]</a></td>,
 <td class="numero" data-value="4.3">4,3%</td>,
 <td class="hbar"><div class="graph_hbar" style="background-color: #0073CF; width:15.4%;" title="4,3%"></div></td>,
 <td class="numero text-pos" data-value="-0.31">-0,31</td>,
 <td class="numero text-neg" data-value="0.32">0,32</td>,
 <td class="fecha" data-value="2011-06-01">Junio 2011</td>,
 <td><a href="https://datosmacro.expansion.com/paro-epa/croacia">Croacia [+]</a></td>,
 <td class="numero" data-value="6.8">6,8%</td>,
 <td class="hbar"><div class="graph_hbar" style="background-color: #00298C; width:24.5%;" title="6,8%"></div></td>,
 <td class="numero text-neg" data-value="0.1">0,10</td>,
 <td class="numero text-neg" data-value="0.4">0,40</td>,
 <td class="fecha" data-value="2022-12-01">Diciembre 2022</td>,
 <td><a href="https://datosmacro.expansion.com/paro-epa/hungria">Hungría [+]</a></td>,
 <td class="numero" data-value="3.9">3,9%</td>,

In [40]:
paises = []
tabla = []

for valor in soup.find_all("td"):
    data_value = valor.get("data-value")  
    tabla.append((valor.text, data_value))  

tamano = int((len(tabla) // 3.22))  

# Iterate over the extracted values
for i in range(0, tamano, 6):
    paises.append(tabla[i][0].replace("[+]","").replace(" ", ""))

paises

['España',
 'Alemania',
 'ReinoUnido',
 'Francia',
 'Italia',
 'Portugal',
 'EstadosUnidos',
 'Japón',
 'China',
 'Albania',
 'Armenia',
 'Angola',
 'Argentina',
 'Austria',
 'Australia',
 'Azerbaiyán',
 'BosniayHerzegovina',
 'Barbados',
 'Bangladés',
 'Bélgica',
 'Bulgaria',
 'Bolivia',
 'Brasil',
 'Bielorrusia',
 'Belice',
 'Canadá',
 'Suiza',
 'Chile',
 'Colombia',
 'CostaRica',
 'Chipre',
 'Chequia',
 'Dinamarca',
 'RepúblicaDominicana',
 'Argelia',
 'Ecuador',
 'Estonia',
 'Egipto',
 'Finlandia',
 'Georgia',
 'Grecia',
 'Guatemala',
 'Guyana',
 'HongKong',
 'Honduras',
 'Croacia',
 'Hungría',
 'Indonesia',
 'Irlanda',
 'Israel',
 'India',
 'Irán',
 'Islandia',
 'Jamaica',
 'Jordania',
 'Kirguistán',
 'CoreadelSur',
 'Kazajistán',
 'SantaLucía',
 'SriLanka',
 'Lituania',
 'Luxemburgo',
 'Letonia',
 'Marruecos',
 'Moldavia',
 'Montenegro',
 'MacedoniadelNorte',
 'Myanmar',
 'Mongolia',
 'Malta',
 'Mauricio',
 'México',
 'Malasia',
 'Nigeria',
 'Nicaragua',
 'PaísesBajos',
 'Noruega',
 'NuevaZelanda',
 'Panamá',
 'Perú',
 'Filipinas',
 'Pakistán',
 'Polonia',
 'EstadodePalestina',
 'Paraguay',
 'Catar',
 'Rumanía',
 'Serbia',
 'Rusia',
 'Ruanda',
 'ArabiaSaudita',
 'Seychelles',
 'Suecia',
 'Singapur',
 'Eslovenia',
 'Eslovaquia',
 'SanMarino',
 'Senegal',
 'Siria',
 'Tailandia',
 'Túnez',
 'Türkiye',
 'TrinidadyTobago',
 'Taiwan',
 'Ucrania',
 'Uruguay',
 'Venezuela',
 'VietNam',
 'Yemen',
 'Sudáfrica',
 'Zambia',
 'Zimbabue']

In [41]:
lista_duraciones = []
vepas = []
epas = []
fechas=[]
tamano = int(len(tabla) // 6.4)
tamano1 = int(len(tabla) // 6.4) - 1
for x in soup.find_all("td", class_="fecha"):
    fechas.append(x.text)
for x in soup.find_all("td", class_="numero"):
    lista_duraciones.append(x.text)

for i in range(2, tamano1, 3):
    variacion = lista_duraciones[i].replace(',', '.')  
    if variacion=="":
        variacion=0
        vepas.append(float(variacion))
    else:
        vepas.append(float(variacion))

for i in range(0, tamano1, 3):
    variacion = lista_duraciones[i].replace('%', '').replace(',', '.') 
    epas.append(float(variacion))

epasM = np.array(epas)
vepasM = np.array(vepas)

Total = epasM + vepasM
Total_List=list(Total)
list(Total)
len(Total_List)

112

In [42]:
fecha_split= [] 
ano=[]
anoNumero=[]
anoposterior=[]
for string_to_split in fechas:
    splitted = string_to_split.split()  
    fecha_split.append(splitted) 
for i in range (len(fecha_split)) :
     ano.append(fecha_split[i][1])
for i in ano:
    if i=="":
        anoNumero.append(0)
    else:
        anoNumero.append(int(i))
for i in anoNumero:    
    anoposterior.append(i-1)
anoposterior

[2022,
 2021,
 2019,
 2021,
 2021,
 2021,
 2022,
 2022,
 2013,
 2018,
 2020,
 2020,
 2021,
 2021,
 2022,
 2015,
 2021,
 2014,
 2016,
 2021,
 2021,
 2021,
 2017,
 2013,
 2020,
 2022,
 2021,
 2022,
 2021,
 2021,
 2021,
 2021,
 2021,
 2021,
 2015,
 2022,
 2021,
 2020,
 2021,
 2019,
 2021,
 2020,
 2020,
 2016,
 2010,
 2021,
 2021,
 2021,
 2021,
 2020,
 2021,
 2020,
 2021,
 2021,
 2020,
 2020,
 2021,
 2016,
 2021,
 2019,
 2021,
 2021,
 2021,
 2015,
 2021,
 2019,
 2021,
 2019,
 2020,
 2021,
 2020,
 2021,
 2016,
 2015,
 2011,
 2021,
 2021,
 2022,
 2016,
 2019,
 2020,
 2020,
 2021,
 2021,
 2016,
 2014,
 2021,
 2021,
 2020,
 2020,
 2021,
 2019,
 2021,
 2020,
 2021,
 2021,
 2014,
 2018,
 2009,
 2021,
 2016,
 2019,
 2020,
 2020,
 2016,
 2021,
 2015,
 2021,
 2013,
 2021,
 2016,
 2021,
 2022,
 2021,
 2019,
 2021,
 2021,
 2021,
 2022,
 2022,
 2018,
 2020,
 2020,
 2021,
 2021,
 2022,
 2021,
 2016,
 2021,
 2021,
 2021,
 2017,
 2020,
 2022,
 2021,
 2022,
 2021,
 2021,
 2021,
 2021,
 2021,
 2021,
 2016,
 2022,
 2021,
 2020,
 2021,
 2019,
 2021,
 2020,
 2020,
 2019,
 2010,
 2021,
 2021,
 2021,
 2021,
 2020,
 2021,
 2020,
 2021,
 2021,
 2020,
 2020,
 2021,
 2016,
 2021,
 2019,
 2021,
 2021,
 2021,
 2016,
 2021,
 2019,
 2021,
 2019,
 2020,
 2021,
 2020,
 2021,
 2017,
 2011,
 2021,
 2021,
 2022,
 2016,
 2019,
 2020,
 2020,
 2021,
 2021,
 2016,
 2018,
 2021,
 2021,
 2020,
 2020,
 2021,
 2019,
 2021,
 2020,
 2021,
 2021,
 2018,
 2009,
 2021,
 2019,
 2020,
 2020,
 2019,
 2021,
 2015,
 2021,
 2013,
 2021,
 2016,
 2021,
 2022,
 2021,
 2019,
 2021,
 2021,
 2021,
 2022,
 2022,
 2018,
 2020,
 2020,
 2021,
 2021,
 2022,
 2021,
 2014,
 2016,
 2021,
 2021,
 2021,
 2017,
 2020,
 2022,
 2021,
 2022,
 2021,
 2021,
 2021,
 2021,
 2021,
 2021,
 2015,
 2022,
 2021,
 2020,
 2021,
 2019,
 2021,
 2020,
 2020,
 2016,
 2010,
 2021,
 2021,
 2021,
 2021,
 2020,
 2021,
 2020,
 2021,
 2021,
 2020,
 2020,
 2021,
 2021,
 2019,
 2021,
 2021,
 2021,
 2014,
 2021,
 2019,
 2021,
 2019,
 2020,
 2021,
 2020,
 2021,
 2015,
 2011,
 2021,
 2021,
 2022,
 2016,
 2019,
 2020,
 2020,
 2021,
 2021,
 2016,
 2014,
 2021,
 2021,
 2020,
 2020,
 2021,
 2019,
 2021,
 2020,
 2021,
 2021,
 2014,
 2018,
 2009,
 2021,
 2016,
 2019,
 2020,
 2020,
 2008,
 2021,
 2015,
 2021,
 2013,
 2021,
 2016,
 2021]

In [43]:
user_list = list(zip(paises, anoNumero, epas))
df_EPAanoNumero = pd.DataFrame(user_list,columns=['Pais','Año', 'EPA'])
#df_EPAanoNumero['Paises'].unique()
df_EPAanoNumero

           Pais   Año   EPA
0        España  2023  13.3
1      Alemania  2022   3.0
2    ReinoUnido  2020   4.9
3       Francia  2022   7.3
4        Italia  2022   7.9
..          ...   ...   ...
107     VietNam  2022   1.4
108       Yemen  2014  13.1
109   Sudáfrica  2022  27.8
110      Zambia  2017   9.8
111    Zimbabue  2022  11.6

[112 rows x 3 columns]

In [44]:
user_list = list(zip(paises, anoposterior, Total_List))
df_EPAanoNumeroPosterior = pd.DataFrame(user_list,columns=['Pais','Año', 'EPA'])
#df_EPAanoNumeroPosterior['Paises'].unique()
df_EPAanoNumeroPosterior

           Pais   Año    EPA
0        España  2022  12.91
1      Alemania  2021   2.70
2    ReinoUnido  2019   5.90
3       Francia  2021   7.00
4        Italia  2021   6.70
..          ...   ...    ...
107     VietNam  2021   0.18
108       Yemen  2013  13.10
109   Sudáfrica  2021  25.79
110      Zambia  2016   9.80
111    Zimbabue  2021  13.68

[112 rows x 3 columns]

In [45]:
dftotal = pd.concat([df_EPAanoNumero, df_EPAanoNumeroPosterior])
dftotal

           Pais   Año    EPA
0        España  2023  13.30
1      Alemania  2022   3.00
2    ReinoUnido  2020   4.90
3       Francia  2022   7.30
4        Italia  2022   7.90
..          ...   ...    ...
107     VietNam  2021   0.18
108       Yemen  2013  13.10
109   Sudáfrica  2021  25.79
110      Zambia  2016   9.80
111    Zimbabue  2021  13.68

[224 rows x 3 columns]

In [46]:
lista_paisesE = dftotal['Pais']

In [47]:
Paises_dic2 = {'Europa': ['España', 'Alemania', 'ReinoUnido', 'Francia', 'Italia', 'Portugal', 'Albania', 'Armenia', 'Austria', 'Azerbaiyán', 'BosniayHerzegovina', 'Bélgica', 'Bulgaria', 'Bielorrusia', 'Suiza', 'Chipre', 'Chequia', 'Dinamarca', 'Estonia', 'Finlandia', 'Georgia', 'Grecia', 'Croacia', 'Hungría', 'Irlanda', 'Israel', 'Islandia', 'Kirguistán', 'Kazajistán', 'Lituania', 'Luxemburgo', 'Letonia', 'Moldavia', 'Montenegro', 'MacedoniadelNorte', 'Malta', 'PaísesBajos', 'Noruega', 'Polonia', 'Rumanía', 'Serbia', 'Rusia', 'Suecia', 'Eslovenia', 'Eslovaquia', 'SanMarino', 'Türkiye', 'Ucrania'],
 'Asia': ['Japón', 'China', 'Bangladés', 'HongKong', 'Indonesia', 'India', 'Irán', 'Jordania', 'CoreadelSur', 'SriLanka', 'Myanmar', 'Mongolia', 'Malasia', 'Filipinas', 'Pakistán', 'EstadodePalestina', 'Catar', 'ArabiaSaudita', 'Singapur', 'Siria', 'Tailandia', 'Taiwan', 'VietNam', 'Yemen'],
 'Norteamerica': ['EstadosUnidos', 'Barbados', 'Belice', 'Canadá', 'RepúblicaDominicana', 'Jamaica', 'SantaLucía', 'México', 'TrinidadyTobago'],
 'America_Central': ['CostaRica', 'Guatemala', 'Honduras', 'Nicaragua', 'Panamá'],
 'Sudamerica': ['Argentina', 'Bolivia', 'Brasil', 'Chile', 'Colombia', 'Ecuador', 'Guyana', 'Perú', 'Paraguay', 'Uruguay', 'Venezuela'],
 'Africa': ['Angola', 'Argelia', 'Egipto', 'Marruecos', 'Mauricio', 'Nigeria', 'Ruanda', 'Seychelles', 'Senegal', 'Túnez', 'Sudáfrica', 'Zambia', 'Zimbabue'],
 'Oceania': ['Australia', 'NuevaZelanda']
}

In [48]:
Europa = Paises_dic1['Europa']
Asia = Paises_dic1['Asia']
Norteamerica = Paises_dic1['Norteamerica']
America_Central = Paises_dic1['America_Central']
Sudamerica = Paises_dic1['Sudamerica']
Africa = Paises_dic1['Africa']
Oceania = Paises_dic1['Oceania']

In [49]:
df_conti2 = pd.DataFrame({'Pais': lista_paisesE})

In [50]:
def asignar_continente2(Pais):
    for continente, lista_paisesE in Paises_dic2.items():
        if Pais in lista_paisesE:
            return continente
    return None

asignar_continente2(Paises_dic2)

In [51]:
df_conti2['Continentes'] = df_conti2['Pais'].apply(lambda x: asignar_continente2(x))
print(df_conti2)

           Pais Continentes
0        España      Europa
1      Alemania      Europa
2    ReinoUnido      Europa
3       Francia      Europa
4        Italia      Europa
..          ...         ...
107     VietNam        Asia
108       Yemen        Asia
109   Sudáfrica      Africa
110      Zambia      Africa
111    Zimbabue      Africa

[224 rows x 2 columns]

In [52]:
df_concatenado2 = pd.merge(dftotal, df_conti2, on='Pais', how='left')

In [53]:
df_concatenado2

           Pais   Año    EPA Continentes
0        España  2023  13.30      Europa
1        España  2023  13.30      Europa
2      Alemania  2022   3.00      Europa
3      Alemania  2022   3.00      Europa
4    ReinoUnido  2020   4.90      Europa
..          ...   ...    ...         ...
443   Sudáfrica  2021  25.79      Africa
444      Zambia  2016   9.80      Africa
445      Zambia  2016   9.80      Africa
446    Zimbabue  2021  13.68      Africa
447    Zimbabue  2021  13.68      Africa

[448 rows x 4 columns]

In [54]:
df_concatenado2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 448 entries, 0 to 447
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Pais         448 non-null    object
 1   Año          448 non-null    int64
 2   EPA          448 non-null    float64
 3   Continentes  448 non-null    object
dtypes: float64(1), int64(1), object(2)
memory usage: 17.5+ KB

In [55]:
df_def2 = df_concatenado2.drop_duplicates(subset=['Pais', 'Año', 'EPA', 'Continentes'], keep='first', inplace=False)

In [56]:
df_def2.reset_index(drop=True, inplace=True)

In [57]:
df_def2

           Pais   Año    EPA Continentes
0        España  2023  13.30      Europa
1      Alemania  2022   3.00      Europa
2    ReinoUnido  2020   4.90      Europa
3       Francia  2022   7.30      Europa
4        Italia  2022   7.90      Europa
..          ...   ...    ...         ...
219     VietNam  2021   0.18        Asia
220       Yemen  2013  13.10        Asia
221   Sudáfrica  2021  25.79      Africa
222      Zambia  2016   9.80      Africa
223    Zimbabue  2021  13.68      Africa

[224 rows x 4 columns]

In [61]:
df_def2 = df_def2.replace({np.nan: None, 0: None, "": None})

In [62]:
df_def2[df_def2["Pais"]=="Zimbabue"]

         Pais   Año    EPA Continentes
111  Zimbabue  2022  11.60      Africa
223  Zimbabue  2021  13.68      Africa